// Couleur
.h-color {
	color: $color;
}

@each $name, $color in $color--list {
	.h-color--#{$name} {
		color: $color;

		h2, h3 {
			color: inherit;
		}
	}
}

// Media
.h-media {
	display: table;
	width: 100%;
}

.h-media__object,
.h-media__body {
	display: table-cell;
	vertical-align: top;
}

.h-media__object--middle {
	vertical-align: middle;
}

.h-media__object--left {
	padding-right: 1em;
}

.h-media__object--right {
	padding-left: 1em;
}

// Arrière plan
.h-background {
}

.h-background--effect {
	position: relative;
	overflow: hidden;
	z-index: 0;

	&:before,
	&:after {
		content: '';
		position: absolute;
		border-radius: 50%;
		z-index: -1;
	}

	&:before {
		top: -100px;
		left: -100px;
		width: 300px;
		height: 300px;
		border: 1px dashed rgba(#fff, 0.5);
	}

	&:after {
		top: -100px;
		right: 100px;
		width: 200px;
		height: 200px;
		border: 1px solid rgba(#fff, 0.5);
		box-shadow: -60px 120px 0px -90px rgba(#fff, 0.5);
	}
}

.h-background--color {
	background: $color no-repeat center center;
	background-size: cover;
	color: #fff;
}

@each $name, $color in $color--list {
	.h-background--#{$name} {
		background-color: $color !important;
		color: #fff;

		h2, h3 {
			color: inherit;
		}
	}
}

.h-background--white {
	color: black;

	.product__related-title {
		color: black;
	}

	.card__content {
		background-color: rgba(0, 0, 0, 0.5);
	}
}
