// Section
.l-section {
}

.l-section--space {
    padding-top: $grid__gutter / 2;
    padding-bottom: $grid__gutter / 2;

    @include breakpoint(tablet) {
        padding-top: $grid__gutter / 2;
        padding-bottom: $grid__gutter / 2;
    }
}

.l-section--stack {
    margin-top: $grid__gutter / 2;
    margin-bottom: $grid__gutter / 2;

    @include breakpoint(tablet) {
        margin-top: $grid__gutter / 2;
        margin-bottom: $grid__gutter / 2;
    }
}

.l-section--small-stack {
    margin-top: $grid__gutter / 2;
    margin-bottom: $grid__gutter / 2;
}

.product l.section .l-section--small-stack {
    margin-top: 0px;
}

.l-section--home {
    text-align: center;
}

.l-section__title {
  font-weight: 400;
  margin-bottom: 40px;}


.nosproduits__title {
  width: 100%;
  object-fit: contain;
  font-family: Khand;
  font-size: 35px;
  line-height: 1.5;
  text-align: center;
  color: #007bbc;
  margin-bottom: 50px;
  padding-top: 15px; }
  @media all and (max-width: 1024px) {
    .nosproduits__title {
    font-size: 28px;
    padding-bottom: 25px; } }

.nosproduits_subtitle {
  margin-top: 10px;
  font-family: Khand;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: #ffffff;
}

.nosproduits_content {
    background-color: rgba(0,0,0,0.5);
}

.card__contentcard {
  margin-top: 20px; }
  .card__contentcard .taxonomy-item__description {
    margin-bottom: 20px;
    min-height: 450px;
    text-align: justify;
    padding: 0px 10px; }
    @media (max-width: 1024px) {
      .card__contentcard .taxonomy-item__description {
        min-height: 550px; } }
    @media (min-width: 100px) and (max-width: 768px) {
      .card__contentcard .taxonomy-item__description {
        min-height: auto; } }
  .card__contentcard .card__button {
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    @media all and (max-width: 1024px) {
      .card__contentcard .card__button {
        margin-bottom: 30px; } }


// Conteneur
.l-container {
    max-width: $grid__container;
    padding: 0 $grid__gutter / 4;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(tablet) {
        padding: 0 $grid__gutter / 2;
    }

    @include breakpoint(desktop) {
        padding: 0 $grid__gutter;
    }
}

.l-container--small {
    max-width: $grid__container--small
}

.l-container--fullwidth {
    max-width: none;
    padding: 0;
    overflow: hidden;
}

.l-section .l-section--stack .l-section--home .l-container {
      padding: 0 0px; }

// Rangée
.l-grid {
    @extend %clearfix;
}

.l-grid--space {
    margin-left: -$grid__gutter / 8;
    margin-right: -$grid__gutter / 8;

    @include breakpoint(tablet) {
        margin-left: -$grid__gutter / 4;
        margin-right: -$grid__gutter / 4;
    }

    @include breakpoint(desktop) {
        margin-left: -$grid__gutter / 2;
        margin-right: -$grid__gutter / 2;
    }

    > .l-column {
        padding-left: $grid__gutter / 8;
        padding-right: $grid__gutter / 8;

        @include breakpoint(tablet) {
            padding-left: $grid__gutter / 4;
            padding-right: $grid__gutter / 4;
        }

        @include breakpoint(desktop) {
            padding-left: $grid__gutter / 2;
            padding-right: $grid__gutter / 2;
        }
    }
}

.l-grid--head {
   padding-top: $grid__gutter / 2; }

// Colonne
.l-column {
    float: left;
    width: 100%;
}

.l-column--1-2,
.l-column--2-4 {
    width: 50%;
}

.l-column--1-3 {
    width: 33.33%;
}

.l-column--2-3 {
    width: 66.66%;
}

.l-column--1-4 {
    width: 25%;
}

.l-column--3-4 {
    width: 75%;
}

@each $point in phone, tablet, desktop {
    .l-column--#{$point}-1-2,
    .l-column--#{$point}-2-4 {
        @include breakpoint($point) {
            width: 50%;
        }
    }

    .l-column--#{$point}-1-3 {
        @include breakpoint($point) {
            width: 33.33%;
        }
    }

    .l-column--#{$point}-2-3 {
        @include breakpoint($point) {
            width: 66.66%;
        }
    }

    .l-column--#{$point}-1-4 {
        @include breakpoint($point) {
            width: 25%;
        }
    }

    .l-column--#{$point}-3-4 {
        @include breakpoint($point) {
            width: 75%;
        }
    }
}

// Element
.l-item {
    margin: 25px 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
