/**
 * COULEUR
 */

$color: #007bbc;

$color__gray: #b2b2b2;
$color__primary: $color;
$color__light: #2eb0e9;
$color__green: #77b72a;
$color__brown: #91411e;
$color__orange: #f4930b;
$color__red: #FF3900;
$color--list: (
	gray: $color__gray,
	primary: $color__primary,
	light: $color__light,
	green: $color__green,
	brown: $color__brown,
	orange: $color__orange
);

$color__text: #000;
$color__link: $color__light;

/**
 * TYPOGRAPHIE
 */
$font-family: 'Khand', sans-serif;

$font-size: 18px;
$font-size__h1: 50px;
$font-size__h2: 35px;
$font-size__h3: 28px;
$font-size__h4: 22px;
$font-size__h5: $font-size;
$font-size__h6: 16px;

$line-height: 25px;

/**
 * MISE EN PAGE
 */
$grid__column: 225px;
$grid__gutter: 60px;
$grid__container: $grid__column * 4 + $grid__gutter * 5;
$grid__container--small: $grid__column * 2 + $grid__gutter * 3;

/**
 * RESPONSIVES
 */
$breakpoint__phone:   30em;
$breakpoint__tablet:  48em;
$breakpoint__menu:    60em;
$breakpoint__desktop: 64em;

/**
 * ICONES
 */
$icomoon-font-path: "fonts/timacagro" !default;

$icon--diagnosis: "\e924";
$icon--download: "\e921";
$icon--video: "\e922";
$icon--man: "\e900";
$icon--research: "\e901";
$icon--tractor: "\e902";
$icon--chevron-down: "\e903";
$icon--chevron-left: "\e904";
$icon--chevron-right: "\e905";
$icon--chevron-small-down: "\e906";
$icon--chevron-small-left: "\e907";
$icon--chevron-small-right: "\e908";
$icon--chevron-small-up: "\e909";
$icon--chevron-thin-down: "\e90a";
$icon--chevron-thin-left: "\e90b";
$icon--chevron-thin-right: "\e90c";
$icon--chevron-thin-up: "\e90d";
$icon--chevron-up: "\e90e";
$icon--controller-fast-forward: "\e90f";
$icon--controller-jump-to-start: "\e910";
$icon--controller-next: "\e911";
$icon--controller-paus: "\e912";
$icon--controller-play: "\e913";
$icon--controller-record: "\e914";
$icon--controller-stop: "\e915";
$icon--magnifying-glass: "\e916";
$icon--menu: "\e923";
$icon--phone: "\e917";
$icon--skype-with-circle: "\e918";
$icon--facebook-with-circle: "\e919";
$icon--google-with-circle: "\e91a";
$icon--instagram-with-circle: "\e91b";
$icon--linkedin-with-circle: "\e91c";
$icon--pinterest-with-circle: "\e91d";
$icon--twitter-with-circle: "\e91e";
$icon--vimeo-with-circle: "\e91f";
$icon--youtube-with-circle: "\e920";



/**
 * FORMULAIRE
 */
// Font
$form__font-family: $font-family;
$form__font-size: $font-size;
$form__font-color: #666666;

// Borders
$form__border-radius: 5px !default;
$form__border-width: 2px !default;
$form__border-style: solid !default;
$form__border-color: #e4e4e4 !default;

// Inputs, Textareas, Select, Option
$form__input-height: 50px !default;
$form__input-width: 100% !default;
$form__input-max-width: 100% !default;
$form__input-bg-color: #fff !default;
$form__focus-bg-color: #fff !default;
$form__focus-border-color: $form__border-color !default;
$form__focus-font-color: $form__font-color !default;

// Select Vendor Styling
$form__allow-select-vendor-styling: false !default;

// Fieldset & Legend Styling
$form__fieldset-bare: false !default;

// Buttons & Input Submits
$form__button-height: 50px !default;
$form__button-width: auto !default;
$form__button-max-width: 100% !default;
$form__button-font-color: #fff !default;
$form__button-bg-color: $color__light !default;
$form__button-hover-bg-color: $color !default;
$form__button-hover-font-color: $form__button-font-color !default;

// Layout
$form__centered: false !default;
$form__display: block !default;
