/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(#FFF, 0.8);
    border: 0;
    color: $color;
    padding: 0;
    font-size: 0;
    transition: background-color 0.2s;
    cursor: pointer;

    @include breakpoint(phone) {
        width: 95px;
        height: 95px;
    }

    &:before {
        @include icon();
        font-size: 35px;

        @include breakpoint(phone) {
            font-size: 65px;
        }
    }

    &:hover,
    &:focus {
        background-color: rgba(#fff, 0.5);
        color: $color;
    }

    &:focus {
        outline: none;
    }
}

.slick-prev {
    transform: translate(-50%, -50%);
    text-align: right;
    &:before {
        content: $icon--chevron-small-left;
    }
}

.slick-next {
    transform: translate(50%, -50%);
    right: 0;
    text-align: left;
    &:before {
        content: $icon--chevron-small-right;
    }
}

.slick-dotted {
    padding-bottom: 27px;
}

.slick-dots {
    list-style: none;
    vertical-align: middle;
    line-height: 7px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    li {
        display: inline-block;
        margin: 3px;

        &.slick-active button {
            background-color: $color__primary;
            transform: scale(1.5);
        }
    }

    button {
        width: 7px;
        height: 7px;
        text-indent: -9999em;
        padding: 0;
        background-color: #fff;
        box-shadow: none;
        border-radius: 50%;
    }
}