@charset "UTF-8";
/*
Theme Name: TIMAC AGRO
Author: Valentin Berthomé
Author URI: http://www.valentin-berthome.fr/
Description: Thème WordPress pour TIMAC AGRO France
Version: 1.0
Text Domain: timac-agro
*/
/**
 * COULEUR
 */
/**
 * TYPOGRAPHIE
 */
/**
 * MISE EN PAGE
 */
/**
 * RESPONSIVES
 */
/**
 * ICONES
 */
/**
 * FORMULAIRE
 */
.l-grid:after, .site__header:after, .header__top:after, .header__content:after, .search:after {
  content: "";
  display: table;
  clear: both; }

/*
 * BREAKPOINTS
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignleft {
  float: left;
  margin-right: 1.5em; }

.alignright {
  float: right;
  margin-left: 1.5em; }

.alignnone {
  display: block; }

.wp-caption-text {
  font-style: italic;
  font-size: 14px; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.navigation.pagination {
  padding: 1em;
  text-align: center; }
  .navigation.pagination .page-numbers {
    display: inline-block;
    padding: 0.25em 0.5em; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .video-container iframe,
  .video-container object,
  .video-container embed,
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.h-color {
  color: #007bbc; }

.h-color--gray {
  color: #b2b2b2; }
  .h-color--gray h2, .h-color--gray h3 {
    color: inherit; }

.h-color--primary {
  color: #007bbc; }
  .h-color--primary h2, .h-color--primary h3 {
    color: inherit; }

.h-color--light {
  color: #2eb0e9; }
  .h-color--light h2, .h-color--light h3 {
    color: inherit; }

.h-color--green {
  color: #77b72a; }
  .h-color--green h2, .h-color--green h3 {
    color: inherit; }

.h-color--brown {
  color: #91411e; }
  .h-color--brown h2, .h-color--brown h3 {
    color: inherit; }

.h-color--orange {
  color: #f4930b; }
  .h-color--orange h2, .h-color--orange h3 {
    color: inherit; }

.h-media {
  display: table;
  width: 100%; }

.h-media__object,
.h-media__body {
  display: table-cell;
  vertical-align: top; }

.h-media__object--middle {
  vertical-align: middle; }

.h-media__object--left {
  padding-right: 1em; }

.h-media__object--right {
  padding-left: 1em; }

.h-background--effect {
  position: relative;
  overflow: hidden;
  z-index: 0; }
  .h-background--effect:before, .h-background--effect:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    z-index: -1; }
  .h-background--effect:before {
    top: -100px;
    left: -100px;
    width: 300px;
    height: 300px;
    border: 1px dashed rgba(255, 255, 255, 0.5); }
  .h-background--effect:after {
    top: -100px;
    right: 100px;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: -60px 120px 0px -90px rgba(255, 255, 255, 0.5); }

.h-background--color {
  background: #007bbc no-repeat center center;
  background-size: cover;
  color: #fff; }

.h-background--gray {
  background-color: #b2b2b2 !important;
  color: #fff; }
  .h-background--gray h2, .h-background--gray h3 {
    color: inherit; }

.h-background--primary {
  background-color: #007bbc !important;
  color: #fff; }
  .h-background--primary h2, .h-background--primary h3 {
    color: inherit; }

.h-background--light {
  background-color: #2eb0e9 !important;
  color: #fff; }
  .h-background--light h2, .h-background--light h3 {
    color: inherit; }

.h-background--green {
  background-color: #77b72a !important;
  color: #fff; }
  .h-background--green h2, .h-background--green h3 {
    color: inherit; }

.h-background--brown {
  background-color: #91411e !important;
  color: #fff; }
  .h-background--brown h2, .h-background--brown h3 {
    color: inherit; }

.h-background--orange {
  background-color: #f4930b !important;
  color: #fff; }
  .h-background--orange h2, .h-background--orange h3 {
    color: inherit; }

.h-background--white {
  color: black; }
  .h-background--white .product__related-title {
    color: black; }
  .h-background--white .card__content {
    background-color: rgba(0, 0, 0, 0.5); }

.l-section--space {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 48em) {
    .l-section--space {
      padding-top: 30px;
      padding-bottom: 30px; } }

.l-section--stack {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (min-width: 48em) {
    .l-section--stack {
      margin-top: 30px;
      margin-bottom: 30px; } }

.l-section--small-stack {
  margin-top: 30px;
  margin-bottom: 30px; }

.product l.section .l-section--small-stack {
  margin-top: 0px; }

.l-section--home {
  text-align: center; }

.l-section__title {
  font-weight: 400;
  margin-bottom: 40px; }

.nosproduits__title {
  width: 100%;
  object-fit: contain;
  font-family: Khand;
  font-size: 35px;
  line-height: 1.5;
  text-align: center;
  color: #007bbc;
  margin-bottom: 50px;
  padding-top: 15px; }

@media all and (max-width: 1024px) {
  .nosproduits__title {
    font-size: 28px;
    padding-bottom: 25px; } }

.nosproduits_subtitle {
  margin-top: 10px;
  font-family: Khand;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: #ffffff; }

.nosproduits_content {
  background-color: rgba(0, 0, 0, 0.5); }

.card__contentcard {
  margin-top: 20px; }
  .card__contentcard .taxonomy-item__description {
    margin-bottom: 20px;
    min-height: 450px;
    text-align: justify;
    padding: 0px 10px; }
    @media (min-width: 100px) and (max-width: 768px) {
      .card__contentcard .taxonomy-item__description {
        min-height: auto; } }
    @media (min-width: 800px) and (max-width: 1024px) {
      .card__contentcard .taxonomy-item__description {
        min-height: 550px; } }

  .card__contentcard .card__button {
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    @media all and (max-width: 1024px) {
      .card__contentcard .card__button {
        margin-bottom: 30px; } }

.l-container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 48em) {
    .l-container {
      padding: 0 30px; } }
  @media (min-width: 64em) {
    .l-container {
      padding: 0 60px; } }

.l-container--small {
  max-width: 630px; }

.l-container--fullwidth {
  max-width: none;
  padding: 0;
  overflow: hidden; }

.l-section .l-section--stack .l-section--home .l-container {
      padding: 0 0px; }


.l-grid--space {
  margin-left: -7.5px;
  margin-right: -7.5px; }
  @media (min-width: 48em) {
    .l-grid--space {
      margin-left: -15px;
      margin-right: -15px; } }
  @media (min-width: 64em) {
    .l-grid--space {
      margin-left: -30px;
      margin-right: -30px; } }
  .l-grid--space > .l-column {
    padding-left: 7.5px;
    padding-right: 7.5px; }
    @media (min-width: 48em) {
      .l-grid--space > .l-column {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (min-width: 64em) {
      .l-grid--space > .l-column {
        padding-left: 30px;
        padding-right: 30px; } }

.l-grid--head {
  padding-top: 30px; }

.l-column {
  float: left;
  width: 100%; }

.l-column--1-2,
.l-column--2-4 {
  width: 50%; }

.l-column--1-3 {
  width: 33.33%; }

.l-column--2-3 {
  width: 66.66%; }

.l-column--1-4 {
  width: 25%; }

.l-column--3-4 {
  width: 75%; }

@media (min-width: 30em) {
  .l-column--phone-1-2,
  .l-column--phone-2-4 {
    width: 50%; } }

@media (min-width: 30em) {
  .l-column--phone-1-3 {
    width: 33.33%; } }

@media (min-width: 30em) {
  .l-column--phone-2-3 {
    width: 66.66%; } }

@media (min-width: 30em) {
  .l-column--phone-1-4 {
    width: 25%; } }

@media (min-width: 30em) {
  .l-column--phone-3-4 {
    width: 75%; } }

@media (min-width: 48em) {
  .l-column--tablet-1-2,
  .l-column--tablet-2-4 {
    width: 50%; } }

@media (min-width: 48em) {
  .l-column--tablet-1-3 {
    width: 33.33%; } }

@media (min-width: 48em) {
  .l-column--tablet-2-3 {
    width: 66.66%; } }

@media (min-width: 48em) {
  .l-column--tablet-1-4 {
    width: 25%; } }

@media (min-width: 48em) {
  .l-column--tablet-3-4 {
    width: 75%; } }

@media (min-width: 64em) {
  .l-column--desktop-1-2,
  .l-column--desktop-2-4 {
    width: 50%; } }

@media (min-width: 64em) {
  .l-column--desktop-1-3 {
    width: 33.33%; } }

@media (min-width: 64em) {
  .l-column--desktop-2-3 {
    width: 66.66%; } }

@media (min-width: 64em) {
  .l-column--desktop-1-4 {
    width: 25%; } }

@media (min-width: 64em) {
  .l-column--desktop-3-4 {
    width: 75%; } }

.l-item {
  margin: 25px 0; }
  .l-item:first-child {
    margin-top: 0; }
  .l-item:last-child {
    margin-bottom: 0; }

html {
  font-family: "Khand", sans-serif;
  font-size: 100%; }

body {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  line-height: 25px; }

a {
  color: #2eb0e9;
  transition: color 0.3s; }
  a:hover {
    color: #007bbc; }
  a:focus {
    outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1; }

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase; }

h2 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  color: #2eb0e9; }

h3 {
  font-size: 28px;
  line-height: 35px;
  color: #007bbc; }

h4 {
  font-size: 22px;
  line-height: 30px; }

h5 {
  font-size: 18px;
  text-transform: uppercase; }

h6 {
  font-size: 16px;
  text-transform: uppercase; }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

input,
select,
button {
  font-family: inherit; }

:focus {
  outline: none; }

@font-face {
  font-family: 'timacagro';
  src: url("fonts/timacagro/timacagro.eot?2cu8o0");
  src: url("fonts/timacagro/timacagro.eot?2cu8o0#iefix") format("embedded-opentype"), url("fonts/timacagro/timacagro.ttf?2cu8o0") format("truetype"), url("fonts/timacagro/timacagro.woff?2cu8o0") format("woff"), url("fonts/timacagro/timacagro.svg?2cu8o0#timacagro") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'timacagro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon--diagnosis:before {
  content: ""; }

.icon--download:before {
  content: ""; }

.icon--video:before {
  content: ""; }

.icon--man:before {
  content: ""; }

.icon--research:before {
  content: ""; }

.icon--tractor:before {
  content: ""; }

.icon--chevron-down:before {
  content: ""; }

.icon--chevron-left:before {
  content: ""; }

.icon--chevron-right:before {
  content: ""; }

.icon--chevron-small-down:before {
  content: ""; }

.icon--chevron-small-left:before {
  content: ""; }

.icon--chevron-small-right:before {
  content: ""; }

.icon--chevron-small-up:before {
  content: ""; }

.icon--chevron-thin-down:before {
  content: ""; }

.icon--chevron-thin-left:before {
  content: ""; }

.icon--chevron-thin-right:before {
  content: ""; }

.icon--chevron-thin-up:before {
  content: ""; }

.icon--chevron-up:before {
  content: ""; }

.icon--controller-fast-forward:before {
  content: ""; }

.icon--controller-jump-to-start:before {
  content: ""; }

.icon--controller-next:before {
  content: ""; }

.icon--controller-paus:before {
  content: ""; }

.icon--controller-play:before {
  content: ""; }

.icon--controller-record:before {
  content: ""; }

.icon--controller-stop:before {
  content: ""; }

.icon--magnifying-glass:before {
  content: ""; }

.icon--menu:before {
  content: ""; }

.icon--phone:before {
  content: ""; }

.icon--calendar:before {
  content: ""; }

.icon--skype-with-circle:before {
  content: ""; }

.icon--facebook-with-circle:before {
  content: ""; }

.icon--google-with-circle:before {
  content: ""; }

.icon--instagram-with-circle:before {
  content: ""; }

.icon--linkedin-with-circle:before {
  content: ""; }

.icon--pinterest-with-circle:before {
  content: ""; }

.icon--twitter-with-circle:before {
  content: ""; }

.icon--vimeo-with-circle:before {
  content: ""; }

.icon--youtube-with-circle:before {
  content: ""; }

.button {
  display: inline-block;
  padding: 0.7em 1.2em 0.6em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #2eb0e9;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  line-height: 1;
  border: 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 100%; }
  @media (min-width: 30em) {
    .button {
      font-size: 22px; } }
  .button:hover {
    background-color: #007bbc;
    color: #fff; }
  .button:last-of-type {
    margin-right: 0;
    margin-bottom: 30; }

.button--fullwidth {
  display: block;
  margin-right: 0;
  margin-bottom: 0; }

.button--outline {
  border: 2px solid;
  background-color: transparent;
  box-shadow: none;
  border-radius: 4px; }

.button--small {
  font-size: 18px;
  padding: 0.45em 0.5em 0.25em; }

.button--with-icon .icon {
  transition: transform 0.3s;
  display: inline-block;
  position: relative;
  top: -0.05em; }

.button--with-icon:hover {
  background-color: initial; }
  .button--with-icon:hover .icon {
    transform: translateX(-25%); }

/* FormHack v1.2.0 (formhack.io) */
/* Global Reset Styles ------------------ */
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
  outline: none;
  font-family: "Khand", sans-serif;
  font-size: 18px;
  color: #666666;
  vertical-align: top;
  display: block;
  margin: 0; }

datalist {
  font-family: "Khand", sans-serif;
  font-size: 18px; }

label {
  display: block;
  margin: 0; }

/* Input & Textarea ------------------ */
/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #e4e4e4; }

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  height: 50px;
  -webkit-appearance: none; }

/* Other */
textarea {
  -webkit-appearance: none;
  overflow: auto; }

input[type="range"] {
  height: 50px;
  width: 100%;
  max-width: 100%; }

input[type="file"] {
  min-height: 50px; }

input[type="search"] {
  height: 50px;
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle; }

/* Select ------------------ */
select {
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) 50%, calc(100% - 15px) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-right: 40px; }
  select::-ms-expand {
    display: none; }

select[multiple] {
  height: auto;
  min-height: 50px;
  padding: 0; }
  select[multiple] option {
    margin: 0;
    padding: 10px; }

option {
  background-color: #fff; }
  option:disabled {
    font-weight: bold; }

/* Fieldset ------------------ */
fieldset {
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid #e4e4e4; }

legend {
  padding: 0 5px;
  font-weight: 700; }

/* Buttons, Input Type Submit/Reset ------------------ */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  height: 50px;
  width: auto;
  background-color: #2eb0e9;
  padding: 10px 25px;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6); }

input[type="image"] {
  text-align: center;
  padding: 10px; }

/* States ------------------ */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed; }

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
  background-color: #fff;
  border-color: #e4e4e4; }

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: #e4e4e4 solid 2px; }

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: #007bbc;
  color: #fff; }

.text > *:first-child {
  margin-top: 0; }

.text p,
.text table,
.text blockquote,
.text ul,
.text ol,
.text dl,
.text table,
.text pre,
.text img,
.text figure {
  margin-bottom: 1em; }

.text ul ul,
.text ol ol,
.text ul ol,
.text ol ul {
  margin-bottom: 0; }

.text ol {
  padding-left: 2em; }

.text ul {
  list-style: none; }
  .text ul > li {
    position: relative;
    padding-left: 1em; }
    .text ul > li:before {
      content: "";
      position: absolute;
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'timacagro' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: middle;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      left: 0;
      line-height: 1.86;
      font-size: 75%; }

.text ol {
  list-style: decimal; }

.text figure {
  position: relative; }
  .text figure img {
    vertical-align: middle;
    margin-bottom: 0; }

.text figcaption {
  text-align: center; }

.text blockquote {
  position: relative;
  padding-left: 1em;
  font-style: italic;
  border-left: 2px solid #b2b2b2; }
  .text blockquote cite {
    display: block;
    font-style: normal; }

.text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
  margin-top: 1em;
  margin-bottom: 0.5em; }

.text em, .text i {
  font-style: italic; }

.text strong, .text b {
  font-weight: 700; }

.text dt {
  font-weight: 600; }

.text dd {
  padding-left: 2em; }

.text th,
.text td {
  padding: 0.5em 1em; }

.text th {
  font-weight: 600;
  background-color: #007bbc;
  color: #fff;
  border: 1px solid #007bbc; }

.text td {
  border: 1px solid #b2b2b2; }

.text pre {
  font-family: monospace;
  background-color: #b2b2b2;
  color: #fff;
  padding: 0.5em 1em; }

.text sup,
.text sub {
  font-size: 75%; }

.text sup {
  vertical-align: text-top; }

.text sub {
  vertical-align: text-bottom; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--center {
  text-align: center; }

.text--justify {
  text-align: justify; }

.text--lead {
  font-size: 25px;
  line-height: 30px; }

.image {
  position: relative; }

.image__image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin-bottom: 20px; }

.image__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em 2em 1.5em; }

.image__title {
  text-transform: uppercase; }

@media (max-width: 340px) {
  body {
    overflow-x: hidden; } }

.site__header {
  z-index: 100;
  background: rgba(255, 255, 255, 0.85);
  padding: 10px;
  position: relative; }
  @media (min-width: 60em) {
    .site__header {
      position: fixed;
      left: 0;
      right: 0;
      padding: 0px; } }

.landing {
  float: right; }

.site__home {
  display: block;
  float: left;
  height: 40px;
  width: 130px;
  text-indent: -999em;
  background: url(images/logo.png) no-repeat center center;
  background-size: contain; }
  @media (min-width: 30em) {
    .site__home {
      height: 50px;
      width: 183px;
      margin-top: 5px;
      margin-bottom: 0; } }
  @media (min-width: 48em) {
    .site__home {
      height: 60px;
      width: 219px;
      margin-top: 0; } }
  @media (min-width: 60em) {
    .site__home {
      display: none; } }

@media (min-width: 60em) {
  .site__home--visible {
    display: block;
    width: 260px;
    height: 80px;
    max-width: 260px;
    line-height: 80px;
    background: transparent;
    text-indent: 0; }
    .site__home--visible img {
      display: inline-block;
      vertical-align: middle; } }

@media (min-width: 64em) {
  .site__home--visible {
    width: 300px !important;
    max-width: 300px !important; } }

.site__navigation {
  display: inline-block;
  float: left;
  width: auto; }
  @media (min-width: 60em) {
    .site__navigation {
      display: block; } }
  @media (min-width: 60em) and (max-width: 1339px) {
    .site__navigation {
      display: block;
      margin-top: 35px; } }
  @media (min-width: 1025px) {
    .site__navigation {
      display: block; } }

.site__phone {
  float: left;
  text-align: center;
  background-color: #007bbc;
  color: white;
  max-width: 200px;
  width: 20%;
  position: absolute;
  right: 7%;
  padding: 10px; }
  .site__phone .prefix {
    display: inline-block;
    font-size: 16px; }
  .site__phone .phone {
    display: inline-block;
    font-size: 32px;
    line-height: 28px; }
    @media (min-width: 956px) and (max-width: 1340px) {
      .site__phone .phone {
        font-size: 18px;
        line-height: 16px; } }
  .site__phone .sufix {
    display: inline-block;
    font-size: 14px;
    line-height: 16px; }
  @media all and (max-width: 955px) {
    .site__phone {
      display: none; } }
  @media (min-width: 956px) and (max-width: 1340px) {
    .site__phone {
      width: 100% !important;
      max-width: initial;
      right: 0;
      padding: 5px; } }
  @media (min-width: 0px) and (max-width: 955px) {
    .site__phone {
      display: none; } }

.site__aside {
  z-index: 1000;
  display: inline-block;
  float: right; }
  .site__aside .aside__icon {
    min-width: 30px;
    min-height: 30px; }
  @media (min-width: 60em) {
    .site__aside {
      float: none;
      display: block;
      position: fixed;
      right: 0;
      top: 100px; } }
  @media (min-width: 64em) {
    .site__aside {
      top: 10px; } }
  .admin-bar .site__aside {
    top: 132px; }
    @media (min-width: 64em) {
      .admin-bar .site__aside {
        top: 42px; }
}

.site__aside__desktop .kxowave2 {
  display: none; }

@media all and (max-width: 1024px) {
  .site__aside__desktop {
    display: none; } }

.single-product .site__aside__desktop {
  display: none; }

@media (min-width: 60em) {
  .site__aside__mobile {
    display: none; } }

@media (min-width: 60em) {
  .site__content {
    padding-top: 80px; }
    .home .site__content,
    .page-template-landing-page .site__content {
      padding-top: 0; } }

@media (min-width: 60em) {
  .site__content {
    padding-top: 115px; } }

@media (min-width: 1340px) {
  .site__content {
    padding-top: 80px; } }

.site__footer {
  border-top: 1px solid #cccccc; }

.menu {
  list-style: none; }

.menu--header {
  font-size: 0;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff; }
  @media (min-width: 60em) {
    .menu--header {
      text-align: right;
      position: static;
      display: block;
      top: auto;
      background-color: transparent; } }
  .menu--header.toggle {
    display: block; }
  .menu--header .menu-item {
    text-transform: uppercase;
    font-size: 26px;
    line-height: 30px; }
    @media (min-width: 60em) {
      .menu--header .menu-item {
        display: inline-block;
        line-height: 26px; } }
    .menu--header .menu-item > a {
      display: block;
      color: #007bbc;
      padding: 27px 15px;
      background-color: transparent;
      transition: 0.3s; }
      @media (min-width: 60em) {
        .menu--header .menu-item > a {
          padding: 27px 20px;
          height: 80px; } }
      .menu--header .menu-item > a:hover {
        text-decoration: none;
        color: #fff;
        background-color: #007bbc; }

.menu--inline .menu-item {
  display: inline-block;
  padding: 0.5em; }

.menu-item > a {
  color: #000;
  text-decoration: none; }
  .menu-item > a:hover {
    text-decoration: underline; }

.menu__toggle {
  display: inline-block;
  background-color: #2eb0e9;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0;
  transition: background-color 0.3s;
  float: right; }
  .menu__toggle:hover {
    background-color: #007bbc;
    color: #fff; }
  .menu__toggle:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'timacagro' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    font-size: 30px; }
  @media (min-width: 30em) {
    .menu__toggle {
      float: right;
      padding: 15px;
      font-size: inherit; } }
  @media (min-width: 60em) {
    .menu__toggle {
      display: none; } }

.ubermenu.ubermenu-main {
  background: #fff;
  position: absolute;
  left: 0;
  top: 100%; }
  @media (min-width: 60em) {
    .ubermenu.ubermenu-main {
      background: none;
      position: relative;
      left: auto;
      top: auto; }
      .ubermenu.ubermenu-main .ubermenu-nav {
        display: table;
        width: 100%; } }
  @media (min-width: 60em) {
    .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-0 {
      display: table-cell;
      vertical-align: middle;
      text-align: center; } }
  .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-0 > .ubermenu-target {
    font-size: 26px;
    padding-top: 27px;
    padding-bottom: 27px; }
    .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-0 > .ubermenu-target:before {
      content: none; }
    .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-0 > .ubermenu-target .ubermenu-target-text {
      white-space: nowrap; }
  .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-0 > .ubermenu-submenu {
    border-radius: 0 0 5px 5px; }
  .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-1 > .ubermenu-target {
    font-size: 25px;
    padding-top: 45px;
    padding-bottom: 45px;
    transition: background-color 0.3s;
    text-align: center; }
    .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-1 > .ubermenu-target:before {
      content: none; }
    .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-1 > .ubermenu-target:hover {
      background-color: #2eb0e9; }
  .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-1.ubermenu-current-menu-item {
    background-color: #2eb0e9; }
  .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-1 > .ubermenu-target-with-image {
    padding-top: 32.5px;
    padding-bottom: 32.5px; }
    .ubermenu.ubermenu-main .ubermenu-item.ubermenu-item-level-1 > .ubermenu-target-with-image > .ubermenu-image {
      height: 50px;
      width: auto; }
  .ubermenu.ubermenu-main .ubermenu-item.ubermenu-disable-padding > .ubermenu-target {
    padding: 0; }
  .ubermenu.ubermenu-main .ubermenu-target {
    line-height: 1;
    font-size: 18px;
    font-weight: 500; }
    .ubermenu.ubermenu-main .ubermenu-target:before {
      content: "";
      display: inline;
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'timacagro' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: middle;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .ubermenu.ubermenu-main .ubermenu-item-layout-image_left {
    text-align: left !important; }
    @media (min-width: 60em) {
      .ubermenu.ubermenu-main .ubermenu-item-layout-image_left {
        text-align: center !important; } }
    .ubermenu.ubermenu-main .ubermenu-item-layout-image_left > .ubermenu-image {
      display: none; }
      @media (min-width: 60em) {
        .ubermenu.ubermenu-main .ubermenu-item-layout-image_left > .ubermenu-image {
          float: none;
          display: inline-block;
          vertical-align: middle; } }
    .ubermenu.ubermenu-main .ubermenu-item-layout-image_left > .ubermenu-target-text {
      display: inline-block;
      vertical-align: middle;
      padding-left: 0.5em; }
  .ubermenu.ubermenu-main .ubermenu-has-submenu-stack .ubermenu-item-layout-image_left {
    text-align: center !important; }
    .ubermenu.ubermenu-main .ubermenu-has-submenu-stack .ubermenu-item-layout-image_left > .ubermenu-image {
      float: none;
      display: inline-block;
      vertical-align: middle; }
  .ubermenu.ubermenu-main .ubermenu-target-text {
    display: inline;
    vertical-align: baseline; }
  .ubermenu.ubermenu-main .ubermenu-autocolumn {
    padding-top: 0; }
  .ubermenu.ubermenu-main .ubermenu-item-type-column > .ubermenu-submenu-type-stack > .ubermenu-item-normal:first-child {
    margin-top: 0; }
  .ubermenu.ubermenu-main .ubermenu-submenu-type-mega {
    display: table; }
    .ubermenu.ubermenu-main .ubermenu-submenu-type-mega:after {
      content: none; }
    .ubermenu.ubermenu-main .ubermenu-submenu-type-mega > .ubermenu-column {
      display: table-cell;
      float: none; }
  .ubermenu.ubermenu-main .menu-item--home {
    width: 260px !important;
    max-width: 260px !important;
    display: none !important; }
    @media (min-width: 60em) {
      .ubermenu.ubermenu-main .menu-item--home {
        display: table-cell !important; } }
    @media (min-width: 64em) {
      .ubermenu.ubermenu-main .menu-item--home {
        width: 300px !important;
        max-width: 300px !important; } }
    .ubermenu.ubermenu-main .menu-item--home:hover > .ubermenu-target {
      background-color: transparent !important; }
  .ubermenu.ubermenu-main .menu-item--brown {
    background: #91411e url(images/bg-brown.png) no-repeat bottom center !important; }
  .ubermenu.ubermenu-main .menu-item--orange {
    background: #f4930b url(images/bg-orange.png) no-repeat bottom center !important; }
  .ubermenu.ubermenu-main .menu-item--green {
    background: #77b72a url(images/bg-green.png) no-repeat bottom center !important; }
  .ubermenu.ubermenu-main .menu-item--header > .ubermenu-target {
    font-weight: bold !important; }
    .ubermenu.ubermenu-main .menu-item--header > .ubermenu-target:before {
      content: none !important; }
  .ubermenu.ubermenu-main .ubermenu-item.ubermenu-active > .ubermenu-submenu-type-mega {
    display: table; }
  .ubermenu.ubermenu-main .ubermenu-colgroup .ubermenu-column,
  .ubermenu.ubermenu-main .ubermenu-custom-content-padded,
  .ubermenu.ubermenu-main .ubermenu-nonlink,
  .ubermenu.ubermenu-main .ubermenu-retractor,
  .ubermenu.ubermenu-main .ubermenu-submenu-padded,
  .ubermenu.ubermenu-main .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target,
  .ubermenu.ubermenu-main .ubermenu-target,
  .ubermenu.ubermenu-main .ubermenu-widget,
  .ubermenu.ubermenu-main .ubermenu-responsive-toggle {
    padding-left: 15px;
    padding-right: 10px; }

.ubermenu-responsive-toggle.ubermenu-responsive-toggle-main {
  background-color: #2eb0e9;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0; }
  @media (min-width: 30em) {
    .ubermenu-responsive-toggle.ubermenu-responsive-toggle-main {
      padding: 15px;
      font-size: inherit; } }
  .ubermenu-responsive-toggle.ubermenu-responsive-toggle-main:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'timacagro' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    font-size: 30px; }
  .ubermenu-responsive-toggle.ubermenu-responsive-toggle-main .fa {
    display: none; }

.ubermenu .ubermenu-submenu-id-1722 > .ubermenu-column + .ubermenu-column:not(.ubermenu-clear-row) {
  border-left: 1px solid #ffffff;
  width: auto; }

.header {
  padding: 25px 0 10px 0;
  word-wrap: break-word; }

.header__container {
  position: relative; }

.header__top .header__back {
  display: none; }

.header__right .button {
  font-size: 18px;
  margin: 0.5em 0.5em 0 0; }

@media (min-width: 48em) {
  .header__right {
    position: absolute;
    bottom: 0;
    right: 0; } }

.header__icon {
  float: left !important;
  width: 45px;
  height: auto;
  margin-right: 1em;
  margin-top: -5px; }
  @media all and (max-width: 480px) {
    .header__icon {
      float: initial; } }

.header__back {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.8em !important;
  margin-bottom: 0 !important;
  padding: 8px 9px 5px; }

.header__breadcrumb {
  display: inline-block;
  vertical-align: middle;
  display: none; }

.header__title {
  max-width: 100%;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
  pointer-events: none; }
  @media (min-width: 30em) {
    .header__title {
      float: left; } }

.header__subtitle {
  padding-top: 0.5em;
  font-size: 22px;
  line-height: 1;
  font-weight: 400;
  margin-top: 0px; }

@media (min-width: 30em) {
  .header__subtitle {
    float: left;
    padding-left: 10px;
    padding-top: 20px; } }

.parent__breadcrumb {
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  margin-top: 0px; }

.logo_mobile {
  display: inline-block;
  width: 100%; }
  @media (min-width: 60em) {
    .logo_mobile {
      display: none; } }

.header__conent__titre {
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    margin-top: 0px;
}

.header__content__breadcrumb a {
  text-decoration: none;
  color: white;
  pointer-events: auto; }

@media all and (max-width: 480px) {
  .header__content__breadcrumb {
    text-align: left; } }

.footer__prefooter {
  padding: 0.875em 0;
  width: 100%; }
  @media (min-width: 48em) {
    .footer__prefooter {
      display: table;
      padding: 0.875em 22px; } }

@media (min-width: 48em) {
  .footer__baseline,
  .footer__social,
  .footer__nav,
  .footer__content {
    display: table-cell;
    vertical-align: middle; } }

@media (min-width: 48em) {
  .footer__baseline,
  .footer__nav {
    width: 35%; } }

.footer__baseline {
  font-weight: 700; }
  .footer__baseline a {
    display: table;
    text-decoration: none;
    color: inherit;
    margin: 0 auto; }
    @media (min-width: 48em) {
      .footer__baseline a {
        margin: 0; } }
  .footer__baseline span, .footer__baseline img {
    display: table-cell;
    vertical-align: middle; }
  .footer__baseline img {
    margin-right: 0.5em; }

.footer__social {
  text-align: center;
  padding: 10px 0; }

.footer__nav {
  font-size: 85%;
  text-align: center;
  padding: 15px 0; }
  @media (min-width: 48em) {
    .footer__nav {
      text-align: right; } }

.footer__copyright {
  background: #cccccc;
  color: #666666;
  text-align: center;
  font-size: 16px;
  padding: 3px 1em; }

.page__content {
  word-wrap: break-word; }

.popup {
  max-width: 1200px;
  background-color: #fff;
  margin: auto;
  overflow: hidden;
  position: relative; }

.product--gray .product__subtitle {
  color: #b2b2b2; }

.product--gray .tabs__anchor {
  background-color: #d9d9d9; }
  .product--gray .tabs__anchor:hover, .product--gray .tabs__anchor.tabs__anchor--active {
    background-color: #b2b2b2; }

.product--gray .offer {
  border-color: #b2b2b2; }

.product--primary .product__subtitle {
  color: #007bbc; }

.product--primary .tabs__anchor {
  background-color: #80bdde; }
  .product--primary .tabs__anchor:hover, .product--primary .tabs__anchor.tabs__anchor--active {
    background-color: #007bbc; }

.product--primary .offer {
  border-color: #007bbc; }

.product--light .product__subtitle {
  color: #2eb0e9; }

.product--light .tabs__anchor {
  background-color: #97d8f4; }
  .product--light .tabs__anchor:hover, .product--light .tabs__anchor.tabs__anchor--active {
    background-color: #2eb0e9; }

.product--light .offer {
  border-color: #2eb0e9; }

.product--green .product__subtitle {
  color: #77b72a; }

.product--green .tabs__anchor {
  background-color: #bbdb95; }
  .product--green .tabs__anchor:hover, .product--green .tabs__anchor.tabs__anchor--active {
    background-color: #77b72a; }

.product--green .offer {
  border-color: #77b72a; }

.product--brown .product__subtitle {
  color: #91411e; }

.product--brown .tabs__anchor {
  background-color: #c8a08f; }
  .product--brown .tabs__anchor:hover, .product--brown .tabs__anchor.tabs__anchor--active {
    background-color: #91411e; }

.product--brown .offer {
  border-color: #91411e; }

.product--orange .product__subtitle {
  color: #f4930b; }

.product--orange .tabs__anchor {
  background-color: #fac985; }
  .product--orange .tabs__anchor:hover, .product--orange .tabs__anchor.tabs__anchor--active {
    background-color: #f4930b; }

.product--orange .offer {
  border-color: #f4930b; }

.product__slider .product__content .product__image {
  position: relative;
  margin-top: -120px;
  display: block;
  vertical-align: middle; }

@media (min-width: 48em) {
  .product__button {
    text-align: right; } }

.product__button .button {
  margin-right: 0;
  display: block; }
  @media (min-width: 48em) {
    .product__button .button {
      font-size: 19px;
      margin-left: 0.5em;
      display: inline-block; } }

.product__title {
font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
 }

.product__sub {
    font-family: Khand;
    font-size: 32px;
    line-height: 1;
    text-align: left;
    color: #000000;
    font-weight: normal;
}

.product__subtitle {
  font-size: 30px;
  font-weight: 700; }

@media all and (max-width: 1024px) {
.product__subtitle {
  font-size: 25px;
  font-weight: 700; } }

.product__related-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 1em; }

.product__introduction {
  color: black; }

.product__introduction h1, .product__introduction h2 {
  color: black;
  margin: 0; }

.product__introduction h2 {
  font-family: Khand;
  font-size: 32px;
  line-height: 1;
  text-align: left;
  color: #000000;
  font-weight: normal; }

.product__introduction .gamme__logo {
  width: 30%;
  float: left; }

@media all and (max-width: 480px) {
  .product__introduction .gamme__logo {
    display: none; } }

.product__introduction .gamme__logo__mobile {
  float: initial;
  width: 100%;
  text-align: center; }

@media all and (min-width: 480px) {
  .product__introduction .gamme__logo__mobile {
    display: none; } }

.product__introduction .product__intro {
  width: 70%;
  float: right;
  padding-left: 20px; }

@media all and (max-width: 480px) {
  .product__introduction .product__intro {
    display: none; } }

.product__introduction .product__intro__mobile {
  float: initial;
  width: 100%;
  text-align: center;
  padding-top: 15px; }

.product__introduction .product__intro__mobile h2 {
  text-align: center; }

@media all and (min-width: 480px) {
  .product__introduction .product__intro__mobile {
    display: none; } }

.product__expert__container {
  position: relative;
  display: block; }
  @media all and (max-width: 955px) {
    .product__expert__container {
      display: none; } }
  .product__expert__container .product__expert {
    background-color: #f8f8f8;
    margin-top: -50%;
    padding: 20px; }
    .product__expert__container .product__expert h3 {
      object-fit: contain;
      font-family: Khand;
      font-size: 36px;
      font-weight: bold;
      line-height: 1;
      text-align: left;
      color: #0f1626; }
    .product__expert__container .product__expert a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 10px;
      text-transform: uppercase;
      background-color: #2eb0e9;
      font-weight: bold;
      font-size: 20px;
      border-radius: 4px;
      line-height: 1;
      border: 0;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
      cursor: pointer;
      transition: background-color 0.3s;
      text-align: center;
      width: 100%; }
    .product__expert__container .product__expert .aside__icon {
      float: left;
      margin: 5px 10px; }
      .product__expert__container .product__expert .aside__icon .icon--calendar {
        width: 25px;
        height: 33px;
        background-repeat: no-repeat;
        background-size: 25px;
        display: block; }
    .product__expert__container .product__expert .product__expert__container .product__expert .aside__icon .icon--calendar {
      width: 25px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: 25px;
      display: block;
      margin-left: 3px; }
    .product__expert__container .product__expert .aside__text {
      margin: 13px 0;
      width: 80%;
      float: right;
      text-align: left; }
    @media (min-width: 955px) {
.product__expert__container .product__expert .aside__text {
    font-size: 18px;
} }
    @media (min-width: 955px) and (max-width: 1200px) {
      .product__expert__container .product__expert .product__expert__container .product__expert .aside__text {
        width: 75%; }
        .product__expert__container .product__expert {
        margin-top: -40%; }
.product__expert__container .product__expert .aside__text {
    width: 77%;
    font-size: 17px;
} }
    .product__expert__container .product__expert .dark {
      background-color: #007bbc; }

.video-section {
    text-align: center; }
    .video-section .video-wrapper {
    display: inline-block; }

.video {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px;
  color: black; }

  @media all and (max-width: 825px) {
    .video {
      width: 100% !important; } }
  .video h3 {
    font-size: 24px;
    color: black;
    font-weight: bold; }
  .video p {
    font-size: 16px; }
  .video .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto; }
  .video .embed-container-2 {
    position: relative;
    padding-bottom: 5%;
    overflow: hidden;
    max-width: 100%;
    height: auto; }
  .video .embed-container iframe,
  .video .embed-container object,
  .video .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.grey_background {
  background-color: #f8f8f8; }

.product__section_block {
  padding: 20px 15px; }

.conditionnement {
  margin: 20px 0;
  padding: 20px;
  background-color: #f8f8f8; }

@media all and (max-width: 625px) {
  .more_description {
    margin-top: 30px; } }

.product-filter {
  border: 1px solid #ccc;
  padding: 14px; }

.product-filter__form {
  color: #b2b2b2;
  text-align: center;
  font-size: 22px;
  font-weight: 600; }

.product-filter__label,
.product-filter__select,
.product-filter__submit,
.product-filter__reset {
  display: inline-block;
  margin: 10px; }

.product-filter__label {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 50px; }
  @media (min-width: 48em) {
    .product-filter__label {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px; } }

.product-filter__select {
  width: 250px;
  background-color: #2eb0e9;
  border-color: #2eb0e9;
  color: #fff;
  font-weight: inherit;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6); }

.product-filter__select:focus {
  background-color: #2eb0e9;
  border-color: #2eb0e9;
  color: #fff; }

.product-filter__submit {
  width: auto !important;
  padding-left: 16px !important;
  padding-right: 16px !important; }
  .js .product-filter__submit {
    display: none; }

.taxonomy--gray .taxonomy__title {
  color: #b2b2b2; }

.taxonomy--gray .taxonomy__parent-title {
  background-color: #d9d9d9; }
  .taxonomy--gray .taxonomy__parent-title:hover {
    background-color: #b2b2b2; }

.taxonomy--primary .taxonomy__title {
  color: #007bbc; }

.taxonomy--primary .taxonomy__parent-title {
  background-color: #80bdde; }
  .taxonomy--primary .taxonomy__parent-title:hover {
    background-color: #007bbc; }

.taxonomy--light .taxonomy__title {
  color: #2eb0e9; }

.taxonomy--light .taxonomy__parent-title {
  background-color: #97d8f4; }
  .taxonomy--light .taxonomy__parent-title:hover {
    background-color: #2eb0e9; }

.taxonomy--green .taxonomy__title {
  color: #77b72a; }

.taxonomy--green .taxonomy__parent-title {
  background-color: #bbdb95; }
  .taxonomy--green .taxonomy__parent-title:hover {
    background-color: #77b72a; }

.taxonomy--brown .taxonomy__title {
  color: #91411e; }

.taxonomy--brown .taxonomy__parent-title {
  background-color: #c8a08f; }
  .taxonomy--brown .taxonomy__parent-title:hover {
    background-color: #91411e; }

.taxonomy--orange .taxonomy__title {
  color: #f4930b; }

.taxonomy--orange .taxonomy__parent-title {
  background-color: #fac985; }
  .taxonomy--orange .taxonomy__parent-title:hover {
    background-color: #f4930b; }

.taxonomy__intro {
  text-align: center; }

.taxonomy__title {
  font-weight: bold;
  margin-bottom: 15px; }

.taxonomy__parent-list {
  column-count: 2;
  column-gap: 60px;
  column-fill: balance; }

.taxonomy__parent {
  display: inline-block; }

.taxonomy__parent-title {
  display: block;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 23px 34px 17px;
  background-color: #d9d9d9;
  transition: background-color 0.3s; }
  .taxonomy__parent-title:hover {
    background-color: #b2b2b2;
    color: #fff; }

.titre_taxonomies_premier {
  width: 100%;
  height: 60px;
  font-family: Khand;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.14;
  text-align: center;
  color: #4a4a4a; }
  @media all and (max-width: 650px) {
    .titre_taxonomies_premier {
      margin-bottom: 25px; } }

.titre_taxonomies_second {
  width: 100%;
  height: 40px;
  object-fit: contain;
  font-family: Khand;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.14;
  text-align: center;
  color: #4a4a4a; }

.buttonsmore {
  text-align: center;
  margin: 20px 0px;
  width: 100%;
  display: inline-block; }
  .buttonsmore .card__button {
    float: left;
    margin: 10px; }
  .buttonsmore .green {
    background-color: #76B828; }
  .buttonsmore .brown {
    background-color: #91411E; }
  .buttonsmore .orange {
    background-color: #F3920F; }

.gamme_logo {
  min-height: 150px;
  display: inline-block; }

.gamme_logo img {
  float: left; }

@media all and (max-width: 650px) {
  .gamme_logo img {
    float: initial; } }

.gamme_logo .gamme_title {
  margin-left: 25px;
  margin-top: 45px;
  float: left; }

@media all and (max-width: 650px) {
  .gamme_logo .gamme_title {
    margin-left: 0px;
    margin-top: 5px;
    float: initial; } }

.taxonomy-item {
  margin: 25px 0; }
  @media (min-width: 30em) {
    .taxonomy-item {
      display: table;
      width: 100%;
      table-layout: fixed; } }

@media (min-width: 30em) {
  .taxonomy-item__image,
  .taxonomy-item__body  {
    display: table-cell;
    vertical-align: middle; } }

.taxonomy-item__image {
  text-align: center;
  padding: 1em 0; }
  @media (min-width: 30em) {
    .taxonomy-item__image {
      padding: 0 1em;
      width: 38%; } }
  .taxonomy-item__image img {
    display: inline-block;
    vertical-align: middle; }

.taxonomy-item__title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }

.nos-produits {
  width: 100%; }
  .nos-produits .taxonomy-item__image {
    width: 100%;
    padding: 0; }

.landing {
    float:right;
margin: 0px;}

.landing-page__header {
  color: #fff;
  overflow: hidden; }
  @media (min-width: 60em) {
    .landing-page__header {
      padding-top: 80px; } }

.landing-page__header--top {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto; }

.landing-page__header--bottom {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 0; }
  @media (min-width: 48em) {
    .landing-page__header--bottom {
      background-size: auto; } }

.landing-page__header--both {
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
  background-size: 0, 100% auto; }
  @media (min-width: 48em) {
    .landing-page__header--both {
      background-size: auto, 100% auto; } }

.landing-page__logo {
  text-align: center;
  margin-bottom: 15%;
  margin-left: -30%;
  margin-right: -30%; }
  @media (min-width: 48em) {
    .landing-page__logo {
      margin-left: 0;
      margin-right: 0; } }

.landing-page__logo-desktop {
  display: none;
  display: inline-block; }

.landing-page__logo-small {
  display: none; }
  @media (min-width: 48em) {
    .landing-page__logo-small {
      display: none; } }

.landing-page__content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3em; }
  .landing-page__content br {
    display: none; }
    @media (min-width: 48em) {
      .landing-page__content br {
        display: initial; } }
  @media (min-width: 48em) {
    .landing-page__content .l-grid {
      display: table;
      width: 100%; }
      .landing-page__content .l-grid > .l-column {
        display: table-cell;
        float: none;
        vertical-align: middle; } }

.landing-page__title,
.landing-page__subtitle {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  font-weight: 700; }

.landing-page__title {
  font-size: 50px;
  line-height: 50px; }

.landing-page__subtitle {
  font-size: 35px;
  line-height: 40px; }

.landing-page__button {
  padding: 1em; }

.landing-page__tip {
  text-align: center;
  background-color: #f4930b;
  padding: 1.5em; }
  .landing-page__tip br {
    display: none; }
    @media (min-width: 48em) {
      .landing-page__tip br {
        display: initial; } }
  @media (min-width: 48em) {
    .landing-page__tip {
      position: relative;
      height: 200px;
      background-color: transparent; } }

@media (min-width: 48em) {
  .landing-page__tip-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%); } }

.landing-page__tip-title {
  font-size: 28px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 12px; }

.landing-page__tip-content {
  color: #000; }

.landing-page__baseline {
  color: #2eb0e9;
  text-align: center;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 1em; }

.landing-page__product {
  margin-bottom: 1.5em; }

.landing-page__product-image {
  margin: 0 auto;
  padding-right: 26px;
  display: block; }

.aside {
  float: right; }
  @media (min-width: 60em) {
    .aside {
      float: none; } }

.aside__item {
  display: block;
  float: left;
  margin-right: 5px;
  background-color: #2eb0e9;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
  transition: background-color 0.3s;
  border-radius: 5px;
  padding: 5px; }
  @media (min-width: 30em) {
    .aside__item {
      padding: 15px; } }
  @media (min-width: 60em) {
    .aside__item {
      float: none;
      margin-right: 0;
      display: block;
      width: 70px;
      height: 90px;
      padding: 8px; }
      .aside__item:first-child {
        border-radius: 5px 0 0 0;
        border-bottom: 1px solid #fff; }
      .aside__item:last-child {
        border-bottom: 0;
        border-radius: 0 0 0 5px; } }
  .aside__item:hover {
    background-color: #007bbc;
    color: #fff; }

.aside__icon {
  display: block;
  font-size: 30px; }
  @media (min-width: 60em) {
    .aside__icon {
      margin-bottom: 4px; } }

.aside__text {
  display: none; }
  @media (min-width: 60em) {
    .aside__text {
      display: block; } }

.search-slider {
  position: relative; }

.search-slider__search {
  display: none; }
  .search-slider__search .l-container {
    padding: 0; }
    @media (min-width: 48em) {
      .search-slider__search .l-container {
        padding: 0 60px; } }
  @media (min-width: 48em) {
    .search-slider__search {
      display: block; } }

@media (min-width: 48em) {
  .search-slider__button {
    display: none; } }

.search-slider__down {
  display: none;
  width: 80px;
  height: 40px;
  margin: 10px auto -50px;
  font-size: 200%;
  text-align: center;
  color: #2eb0e9;
  text-decoration: none; }
  @media (min-width: 48em) {
    .search-slider__down {
      display: block; } }

@media all and (max-width: 48em) {
  #home-content .search-slider__button .button {
    width: 100%; } }

.search {
  background-color: rgba(0, 123, 188, 0.8);
  color: #fff;
  padding: 15px 32px 35px;
  transition: background-color 0.3s; }
  @media (min-width: 48em) {
    .search {
      border-radius: 5px; } }
  @media (min-width: 64em) {
    .search {
      padding: 35px 32px; } }

.search--loading .search__fields {
  transition: opacity 0.3s;
  cursor: wait;
  opacity: 0.3; }

.search__label,
.search__fields,
.search__select,
.search__button {
  float: left; }

.search__label {
  width: 100%;
  font-size: 25px;
  line-height: 50px;
  font-weight: bold;
  margin: 0;
  text-align: center; }
  @media (min-width: 64em) {
    .search__label {
      width: 25%;
      text-align: left; } }

.search__fields {
  width: 100%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: opacity 0.3s; }
  @media (min-width: 64em) {
    .search__fields {
      width: 75%; } }

.search__select {
  width: 100%;
  margin: 0;
  border-radius: 0;
  border-bottom-width: 0 !important; }
  @media (min-width: 30em) {
    .search__select {
      border-right-width: 0 !important;
      border-bottom-width: 1px !important;
      width: 33.3%; } }
  @media (min-width: 48em) {
    .search__select {
      width: 25%; } }
  .search__select:first-child {
    border-radius: 3px 3px 0 0; }
    @media (min-width: 30em) {
      .search__select:first-child {
        border-radius: 3px 0 0 0; } }
    @media (min-width: 48em) {
      .search__select:first-child {
        border-radius: 3px 0 0 3px; } }
  @media (min-width: 30em) {
    .search__select:last-of-type {
      border-radius: 0 3px 0 0;
      border-right-width: 1px !important; } }
  @media (min-width: 48em) {
    .search__select:last-of-type {
      border-radius: 0;
      border-right-width: 0px !important; } }

.search__button {
  width: 100% !important;
  box-shadow: none;
  border-radius: 0 0 3px 3px !important;
  margin: 0;
  box-shadow: none !important; }
  @media (min-width: 30em) {
    .search__button {
      border-radius: 0 0 3px 3px !important; } }
  @media (min-width: 48em) {
    .search__button {
      width: 25% !important;
      border-radius: 0 3px 3px 0 !important; } }

.slider {
  position: relative;
  overflow: hidden; }

.slider--home .slider__inner {
  padding-bottom: 75%; }
  @media (min-width: 30em) {
    .slider--home .slider__inner {
      padding-bottom: 56.25%; } }
  @media (min-width: 48em) {
    .slider--home .slider__inner {
      padding-bottom: 15%;
      padding-top: 309px; } }

@media (max-width: 1200px) {
  .slider--home .slick-arrow {
    display: none !important; } }

.slider--tab .slider__list {
  background-color: #2eb0e9;
  padding-left: 35px;
  padding-right: 35px; }
  @media (min-width: 30em) {
    .slider--tab .slider__list {
      padding-left: 60px;
      padding-right: 60px; } }

@media (min-width: 1200px) {
  .slider--tab {
    overflow: visible;
    max-width: 1080px;
    margin: 0 auto; }
    .slider--tab .slider__list {
      padding-left: 0;
      padding-right: 0;
      overflow: visible;
      background-color: transparent; }
    .slider--tab .slick-list {
      padding-top: 25px;
      margin-top: -25px; } }

.slider--tab .slick-arrow {
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  width: 35px;
  height: 35px;
  transform: translateY(-50%); }
  @media (min-width: 30em) {
    .slider--tab .slick-arrow {
      width: 60px;
      height: 60px; } }
  .slider--tab .slick-arrow:hover, .slider--tab .slick-arrow:active, .slider--tab .slick-arrow:focus {
    background-color: transparent; }

.slider--tab .slick-prev {
  left: 0; }

.slider__tab {
  padding: 20px 0;
  font-size: 16px;
  line-height: 18px;
  background-color: #2eb0e9;
  transition: all 0.3s;
  position: relative; }
  @media (min-width: 1200px) {
    .slider__tab {
      padding: 12px 20px;
      background-color: #fff;
      border-radius: 5px 5px 0 0; }
      .slick-current .slider__tab {
        background-color: #2eb0e9;
        transform: translateY(-25px); } }

.slider__tab-title {
  font-weight: bold;
  color: #fff; }
  @media (min-width: 1200px) {
    .slider__tab-title {
      color: #2eb0e9; }
      .slick-current .slider__tab-title {
        color: #fff; } }

.slider__tab-description {
  color: #fff; }
  @media (min-width: 1200px) {
    .slider__tab-description {
      color: #999999; }
      .slick-current .slider__tab-description {
        color: #fff; } }

.slider__list {
  overflow: hidden; }

.slider__slide {
  display: block;
  background-color: #007bbc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

@media (min-width: 1200px) {
  .slider__slide--tab {
    background-color: #fff;
    transition: background-color 0.3s;
    margin-bottom: -99em;
    padding-bottom: 99em;
    cursor: pointer; }
    .slider__slide--tab:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -1px;
      top: 0;
      border-left: 1px solid #e4e4e4;
      z-index: 1; }
    .slider__slide--tab.slick-current {
      background-color: #2eb0e9;
      z-index: 10; }
      .slider__slide--tab.slick-current:after {
        content: none; } }

.slider__slide--bg-center {
  background-position: center center; }

.slider__slide--bg-left {
  background-position: left center; }

.slider__slide--bg-right {
  background-position: right center; }

.slider__slide--fixed .slider__inner {
  padding-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.slider__splash {
  position: absolute;
  bottom: 10%;
  color: #fff;
  width: 100%;
  font-size: 35px;
  line-height: 1.15;
  text-align: left;
  text-shadow: 4px 8px 50px rgba(0, 0, 0, 0.75); }
  @media (min-width: 30em) {
    .slider__splash {
      font-size: 52.5px; } }
  @media (min-width: 48em) {
    .slider__splash {
      font-size: 70px; } }
  @media (min-width: 48em) {
    .slider__splash .l-container {
      display: table;
      width: 100%; } }

@media (min-width: 48em) {
  .slider__button,
  .slider__baseline {
    display: table-cell;
    vertical-align: middle; } }

.slider__button {
  text-shadow: 0;
  white-space: nowrap; }
  @media (min-width: 48em) {
    .slider__button {
      text-align: right; } }

.slider__inner {
  padding-bottom: 56.25%;
  position: relative; }

.slider__inner--link {
  display: block;
  color: inherit; }
  .slider__inner--link:hover {
    color: inherit; }

.slider__content {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px 0; }

.slider__title {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px; }

.slider__effect {
  position: absolute;
  content: '';
  opacity: 0.6;
  top: 33%;
  left: 60%;
  width: 50%;
  pointer-events: none; }
  .slider__effect:before {
    content: '';
    padding-bottom: 100%;
    border: 2px dashed #fff;
    width: 100%;
    display: block;
    border-radius: 50%; }

.slider__effect--alt {
  top: 92%;
  left: 5%;
  width: 15%; }
  .slider__effect--alt:before {
    border-style: solid; }
  .slider__effect--alt:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 50%; }

.cards-center {
  text-align: center; }

.cards-center-2 {
  text-align: center; }

.cards--gray .card:after {
  border-right-color: #b2b2b2;
  border-bottom-color: #b2b2b2; }

.card {
  margin: 0px;
  background: #fff no-repeat center center;
  background-size: contain;
  position: relative;
  width: 255px;
  height: 339px;
  display: inline-block; }
  .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
    /* IE6-9 */ }
  .card:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 15px solid #fff;
    border-bottom: 23px solid #fff;
    border-left: 15px solid transparent;
    border-top: 23px solid transparent; }

.card__product {
  margin-bottom: 20px; }
@media (max-width: 48em) {
.card__product {
  margin-bottom: 35px; } }

.card__product_v2 {
  background: transparent;
  width: auto;
  height: auto; }
  .card__product_v2:before {
    background: transparent; }
  .card__product_v2 .card__product_v2_img {
    width: 255px;
    height: 339px;
    background: #fff no-repeat center center;
    background-size: contain;
    position: relative; }
    .card__product_v2 .card__product_v2_img:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
      /* IE6-9 */ }
    .card__product_v2 .card__product_v2_img:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      border-right: 15px solid #fff;
      border-bottom: 23px solid #fff;
      border-left: 15px solid transparent;
      border-top: 23px solid transparent; }
  .card__product_v2 .card__content {
    position: relative;
    min-height: 100px;
    padding: 1.5em 0;
    background-color: transparent; }
    .card__product_v2 .card__content .card__title {
      text-align: center;
      color: black;
      margin-bottom: 10px;
      max-width: 260px;}
    .card__product_v2 .card__content .card__subtitle {
      text-align: center;
      color: black;
      max-width: 260px;
      padding: 0 0.5em; }
    .card__product_v2 .card__content .card__button {
      margin: 0 1em;
      max-width: 255px; }
  .card__product_v2:after {
    border: 0; }

.card--expanding {
  width: 100%;
  height: 0;
  padding-bottom: 133%;
  border: 1px solid #fff;
  background-size: cover; }
  @media all and (max-width: 48em) {
    .card--expanding {
      margin-bottom: 12%; }
    .produits {
      margin-bottom: 3%; }}

.card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em;
  color: #fff;
  text-align: left; }

.card__category {
  position: absolute;
  left: 0;
  top: 10%;
  background: #fff;
  border-radius: 0 15px 15px 0;
  padding: 7px 12px 5px;
  line-height: 1; }

.card__icone {
  margin-top: -10%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .card__icone img {
    max-width: 80px;
    max-height: 80px; }

.card__title {
  font-size: 29px;
  font-weight: 700;
  margin-bottom: 5px;
  color: inherit; }

.card__subtitle {
  margin-bottom: 0.8em;
  max-height: 75px;
  min-height: 80px;
  overflow: hidden; }

.card__button .button {
  font-size: 18px; }

.card__button .sol {
  background-color: #91411E; }

.card__button .vegetal {
  background-color: #76B828; }

.card__button .animal {
  background-color: #F3920F; }

.col_cards .l-column {
  padding: 10px; }

@media all and (max-width: 48em) {
  .l-section--home .l-column:last-child .card--expanding {
    margin-bottom: 0; } }

.tabs__list {
  overflow: auto; }

.tabs__tabs {
  color: #fff;
  display: table;
  min-width: 100%; }
  @media (min-width: 48em) {
    .tabs__tabs {
      width: 100%;
      table-layout: fixed; } }

.tabs__item {
  display: table-cell;
  text-align: center;
  border-right: 1px solid;
  vertical-align: middle;
  width: 1%; }
  .tabs__item:last-child {
    border-right: 0; }

.tabs__anchor {
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #d9d9d9;
  display: block;
  padding: 20px;
  color: inherit;
  transition: background-color 0.3s;
  white-space: nowrap; }
  .tabs__anchor:hover {
    background-color: #b2b2b2;
    color: #fff; }

.tabs__anchor--active {
  background-color: #b2b2b2;
  color: #fff; }

.tabs__container {
  position: relative; }

.tabs__content {
  display: none; }

.tabs__content--active {
  display: block; }

.offer {
  border: 2px solid #b2b2b2; }
  @media (min-width: 48em) {
    .offer {
      display: table;
      width: 100%; } }

@media (min-width: 48em) {
  .offer__image,
  .offer__content {
    display: table-cell; } }

.offer__image {
  width: 100%;
  padding-bottom: 56.25%;
  background: no-repeat center center;
  background-size: cover; }
  @media (min-width: 48em) {
    .offer__image {
      width: 50%;
      padding-bottom: 0; } }

.offer__content {
  padding: 2em; }

.pastille {
  display: table; }

a.pastille {
  color: inherit;
  text-decoration: none; }
  a.pastille:hover .pastille__tag {
    background-color: #2eb0e9; }

.pastille__tag,
.pastille__label {
  display: table-cell;
  vertical-align: middle; }

.pastille__tag {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: #2b7633;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2;
  vertical-align: middle;
  font-size: 140%; }

.pastille__tag--security {
  background-color: #000;
  transition: background-color 0.2s; }

.pastille__label {
  padding-left: 0.5em; }

.bubbles {
  text-align: center; }

.bubble {
  display: inline-block;
  width: 246px;
  height: 220px;
  vertical-align: middle;
  border-radius: 65% 35%;
  position: relative;
  background-color: #fff;
  margin-bottom: 1.5em; }
  @media (min-width: 48em) {
    .bubble {
      margin-bottom: 0; }
      .bubble:nth-child(2n) {
        top: -24px; }
      .bubble:nth-child(3n) {
        left: -12px; }
      .bubble:nth-child(5n) {
        top: 12px; } }

.bubble__container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%); }

.bubble__container--with-image {
  top: 40%; }

.bubble__content {
  position: relative;
  left: -1em; }

.bubble__content--big {
  position: static;
  font-size: 36px;
  line-height: 36px; }

.numbers {
  text-align: center; }

.number {
  display: inline-block;
  width: 230px;
  height: 230px;
  margin: 37px;
  background-color: #e1e1e1;
  border-radius: 50%;
  color: #007bbc;
  vertical-align: middle;
  position: relative;
  line-height: 1;
  box-shadow: 0 0 0 14px rgba(225, 225, 225, 0.5); }
  @media (min-width: 30em) {
    .number {
      width: 236px;
      height: 236px; } }
  @media (max-width: 340px) {
    .number {
      background-color: transparent;
      box-shadow: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  .number:before, .number:after {
    content: '';
    position: absolute;
    background-color: rgba(225, 225, 225, 0.5);
    z-index: -1;
    border-radius: 50%; }
    @media (max-width: 340px) {
      .number:before, .number:after {
        display: none; } }
  .number:before {
    width: 40px;
    height: 40px;
    left: -60px;
    top: 105px; }
  .number:after {
    width: 70px;
    height: 70px;
    top: 160px;
    left: -25px; }
  .number:nth-child(2n):before {
    top: 200px;
    left: 200px; }
  .number:nth-child(3n):before {
    top: 200px;
    left: 200px; }
  .number:nth-child(5n):before {
    top: 0;
    left: 200px; }
  .number:nth-child(2n):after {
    width: 80px;
    height: 80px;
    top: 160px;
    left: 160px; }
  .number:nth-child(3n):after {
    width: 90px;
    height: 90px;
    top: -30px;
    left: -30px; }

.number__icon {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: #2eb0e9;
  color: #fff;
  border-radius: 50%;
  font-size: 40px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -40px; }

.number__image {
  max-width: 56px;
  max-height: 56px;
  vertical-align: middle; }

.number__suptitle,
.number__number,
.number__title,
.number__subtitle {
  display: block;
  width: 100%;
  position: absolute; }

.number__suptitle {
  font-size: 16px;
  bottom: calc(50% + 30px);
  padding: 0 16px; }

.number__number {
  font-size: 70px;
  top: 50%;
  margin-top: -28px; }

.number__title {
  font-size: 22px;
  font-weight: 700;
  top: calc(50% + 36px);
  padding: 0 16px; }

.number__subtitle {
  font-size: 16px;
  top: calc(50% + 62px);
  padding: 0 30px; }

.poster {
  background: #007bbc no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 105px 40px; }

.poster__title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0.5em;
  color: inherit; }

.poster__content {
  font-size: 35px;
  margin-bottom: 0.5em;
  width: 340px;
  max-width: 100%;
  line-height: 40px; }

.social {
  list-style: none; }

.social__item {
  display: inline-block;
  font-size: 44px;
  margin: 0 10px; }
  .social__item a {
    text-decoration: none;
    color: #007bbc; }
    .social__item a:hover {
      color: #2eb0e9; }

.breadcrumb {
  font-size: 14px;
  line-height: 35px; }
  .breadcrumb a {
    color: inherit; }

#cookies-toolbar {
  background: #333 none repeat scroll 0 0 !important;
  bottom: 0;
  box-shadow: 0 0 5px 0 #333;
  box-sizing: content-box;
  color: #ffffff !important;
  display: none;
  font-family: sans-serif !important;
  font-size: 15px !important;
  left: 0;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 990; }
  @media (max-width: 60em) {
    #cookies-toolbar {
      height: 200px; } }
  #cookies-toolbar span {
    color: #fff;
    display: block;
    padding: 8px 40% 8px 2%;
    position: relative; }
  #cookies-toolbar a {
    color: #fff;
    text-decoration: underline; }
    #cookies-toolbar a.close-ctoolbar {
      background: transparent url("/wp-content/themes/timac-agro/images/cookies-toolbar-close.png") no-repeat scroll center center;
      display: block;
      height: 21px;
      margin-top: -10px;
      position: absolute;
      right: 35%;
      top: 45%;
      width: 21px; }
      #cookies-toolbar a.close-ctoolbar span {
        display: none; }
      @media (max-width: 60em) {
        #cookies-toolbar a.close-ctoolbar {
          right: 10%;
          top: 20%; } }

#tidio-chat {
  z-index: 999; }

span.wpcf7-not-valid-tip {
  color: #FF3900; }

div.wpcf7-response-output {
  margin: 1em 0;
  padding: 1em 2em;
  text-align: center; }

div.wpcf7-mail-sent-ok {
  border: 0;
  background-color: #77b72a;
  color: #fff; }

div.wpcf7-mail-sent-ng {
  border: 0;
  background-color: #FF3900;
  color: #fff; }

div.wpcf7-spam-blocked {
  border: 0;
  background-color: #f4930b;
  color: #fff; }

div.wpcf7-validation-errors {
  border: 0;
  background-color: #f4930b;
  color: #fff; }

div.wpcf7 img.ajax-loader {
  display: none; }

.use-floating-validation-tip span.wpcf7-not-valid-tip {
  border-color: #FF3900; }

span.wpcf7-form-control-wrap {
  display: block; }

span.wpcf7-list-item {
  margin-right: 2em; }
  span.wpcf7-list-item label {
    display: inline-block; }

span.wpcf7-list-item-label {
  display: inline-block;
  margin-left: 0.5em; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  color: #007bbc;
  padding: 0;
  font-size: 0;
  transition: background-color 0.2s;
  cursor: pointer; }
  @media (min-width: 30em) {
    .slick-arrow {
      width: 95px;
      height: 95px; } }
  .slick-arrow:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'timacagro' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 35px; }
    @media (min-width: 30em) {
      .slick-arrow:before {
        font-size: 65px; } }
  .slick-arrow:hover, .slick-arrow:focus {
    background-color: rgba(255, 255, 255, 0.5);
    color: #007bbc; }
  .slick-arrow:focus {
    outline: none; }

.slick-prev {
  transform: translate(-50%, -50%);
  text-align: right; }
  .slick-prev:before {
    content: ""; }

.slick-next {
  transform: translate(50%, -50%);
  right: 0;
  text-align: left; }
  .slick-next:before {
    content: ""; }

.slick-dotted {
  padding-bottom: 27px; }

.slick-dots {
  list-style: none;
  vertical-align: middle;
  line-height: 7px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); }
  .slick-dots li {
    display: inline-block;
    margin: 3px; }
    .slick-dots li.slick-active button {
      background-color: #007bbc;
      transform: scale(1.5); }
  .slick-dots button {
    width: 7px;
    height: 7px;
    text-indent: -9999em;
    padding: 0;
    background-color: #fff;
    box-shadow: none;
    border-radius: 50%; }
