.aside {
	float: right;

	@include breakpoint(menu) {
		float: none;
	}
}

.aside__item {
	display: block;
	float: left;
	margin-right: 5px;
	background-color: $color__light;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	line-height: 1;
	font-weight: 600;
	transition: background-color 0.3s;
	border-radius: 5px;
	padding: 5px;

	@include breakpoint(phone) {
		padding: 15px;
	}

	@include breakpoint(menu) {
		float: none;
		margin-right: 0;
		display: block;
		width: 70px;
		height: 90px;
		padding: 8px;

		&:first-child {
			border-radius: 5px 0 0 0;
			border-bottom: 1px solid #fff;
		}

		&:last-child {
			border-bottom: 0;
			border-radius: 0 0 0 5px;
		}
	}


	&:hover {
		background-color: $color;
		color: #fff;
	}
}

.aside__icon {
	display: block;
	font-size: 30px;

	@include breakpoint(menu) {
		margin-bottom: 4px;
	}
}

.aside__text {
	display: none;

	@include breakpoint(menu) {
		display: block;
	}
}