.bubbles {
	text-align: center;
}

.bubble {
	display: inline-block;
	width: 246px;
	height: 220px;
	vertical-align: middle;
	border-radius: 65% 35%;
	position: relative;
	background-color: #fff;
	margin-bottom: 1.5em;

	@include breakpoint(tablet) {
		margin-bottom: 0;

		&:nth-child(2n) {
			top: -24px;
		}

		&:nth-child(3n) {
			left: -12px;
		}

		&:nth-child(5n) {
			top: 12px;
		}
	}
}

.bubble__container {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

.bubble__container--with-image {
	top: 40%;
}

.bubble__content {
	position: relative;
	left: -1em;
}

.bubble__content--big {
	position: static;
	font-size: 36px;
	line-height: 36px;
}