.button {
    display: inline-block;
    padding: 0.7em 1.2em 0.6em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color__light;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    line-height: 1;
    border: 0;
    box-shadow: 0 4px 5px rgba(#000, 0.6);
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;

    @include breakpoint(phone) {
        font-size: 22px;
    }

    &:hover {
        background-color: $color;
        color: #fff;
    }

    &:last-of-type {
        margin-right: 0;
        margin-bottom: 20;
    }
}

.button--fullwidth {
    display: block;
    margin-right: 0;
    margin-bottom: 0;
}

.button--outline {
    border: 2px solid;
    background-color: transparent;
    box-shadow: none;
    border-radius: 4px;
}

.button--small {
    font-size: 18px;
    padding: 0.45em 0.5em 0.25em;
}

.button--with-icon {
    .icon {
        transition: transform 0.3s;
        display: inline-block;
        position: relative;
        top: -0.05em;
    }

    &:hover {
        background-color: initial;
        .icon {
            transform: translateX(-25%);
        }
    }
}
