.cards-center {
    text-align: center;
}

.cards-center-2 {
    text-align: center;
}

.cards--gray {
    .card:after {
        border-right-color: $color__gray;
        border-bottom-color: $color__gray;
    }
}

.card {
    margin: 0px;
    background: #fff no-repeat center center;
    background-size: contain;
    position: relative;
    width: 255px;
    height: 339px;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-right: 15px solid #fff;
        border-bottom: 23px solid #fff;
        border-left: 15px solid transparent;
        border-top: 23px solid transparent;
    }
}

.card__product {
  margin-bottom: 20px;
}
@media (max-width: 48em) {
.card__product {
  margin-bottom: 35px; } }

.card__product_v2 {
  background: transparent;
  width: auto;
  height: auto;

  &:before {
    background: transparent;
  }
  .card__product_v2_img {
    width: 255px;
    height: 339px;
    background: #fff no-repeat center center;
    background-size: contain;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-right: 15px solid #fff;
        border-bottom: 23px solid #fff;
        border-left: 15px solid transparent;
        border-top: 23px solid transparent;
    }
  }
  .card__content {
    position: relative;
    min-height: 100px;
    padding: 1.5em 0;
    background-color: transparent;

    .card__title {
      text-align: center;
      color: black;
      margin-bottom: 10px;
      padding: 0 1em;
      max-width: 270px;
    }
    .card__subtitle {
      text-align: center;
      color: black;
      max-width: 260px;
      padding: 0 0.5em;
    }
    .card__button {
      margin: 0 1em;
      max-width: 255px;
    }
  }

  &:after {
    border: 0;
  }
}

.card--expanding {
  width: 100%;
  height: 0;
  padding-bottom: 133%;
  border: 1px solid #fff;
  background-size: cover; }
  @media all and (max-width: 48em) {
    .card--expanding {
      margin-bottom: 12%; }
    .produits {
      margin-bottom: 3%; }}

.card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5em;
    color: #fff;
    text-align: left;
}

.card__category {
    position: absolute;
    left: 0;
    top: 10%;
    background: #fff;
    border-radius: 0 15px 15px 0;
    padding: 7px 12px 5px;
    line-height: 1;
}

.card__icone {
  margin-top: -10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    img {
      max-width: 80px;
      max-height: 80px;
    }
}

.card__title {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 5px;
    color: inherit;
}

.card__subtitle {
    margin-bottom: 1em;
    max-height: 3 * $line-height;
    min-height: 85px;
    overflow: hidden;
}

.card__button {
    .button {
        font-size: $font-size;
    }
    .sol {
        background-color: #91411E;
    }
    .vegetal {
        background-color: #76B828;
    }
    .animal {
        background-color: #F3920F;
    }
}

.col_cards {
    .l-column {
        padding: 10px;
    }
}

.l-section--home .l-column:last-child .card--expanding {
    @media all and (max-width: 48em) {
      margin-bottom: 0;
    }
}
