#cookies-toolbar{
    background: #333 none repeat scroll 0 0 !important;
    bottom: 0;
    box-shadow: 0 0 5px 0 #333;
    box-sizing: content-box;
    color: #ffffff !important;
    display: none;
    font-family: sans-serif !important;
    font-size: 15px !important;
    left: 0;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 990;

    @media (max-width: 60em) {
      height: 200px;
    }

    span {
        color: #fff;
        display: block;
        padding: 8px 40% 8px 2%;
        position: relative;
    }

    a {
        color: #fff;
        text-decoration: underline;
        &.close-ctoolbar{
            background: rgba(0, 0, 0, 0) url("/wp-content/themes/timac-agro/images/cookies-toolbar-close.png") no-repeat scroll center center;
            display: block;
            height: 21px;
            margin-top: -10px;
            position: absolute;
            right: 35%;
            top: 45%;
            width: 21px;
            span{
                display: none;
            }

            @media (max-width: 60em) {
              right: 10%;
              top: 20%;
            }
        }
    }
}

#tidio-chat {
  z-index: 999;
}
