html {
	font-family: $font-family;
	font-size: 100%;
}

body {
	font-size: $font-size;
	color: $color__text;
	font-weight: 400;
	line-height: 25px;
}

a {
	color: $color__link;
	transition: color 0.3s;

	&:hover {
		color: $color;
	}

	&:focus {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
}

h1 {
	font-weight: 700;
	font-size: 50px;
	line-height: 45px;
	text-transform: uppercase;
}

h2 {
	font-size: 35px;
	line-height: 40px;
	font-weight: 700;
	color: $color__light;
}

h3 {
	font-size: 28px;
	line-height: 35px;
	color: $color;
}

h4 {
	font-size: 22px;
	line-height: 30px;
}

h5 {
	font-size: $font-size__h5;
	text-transform: uppercase;
}

h6 {
	font-size: $font-size__h6;
	text-transform: uppercase;
}

img {
	max-width: 100%;
	height: auto;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

input,
select,
button {
	font-family: inherit;
}

:focus {
	outline: none;
}