.footer {
}

.footer__prefooter {
	padding: 0.875em 0;
	width: 100%;

	@include breakpoint(tablet) {
		display: table;
		padding: 0.875em 22px;
	}
}

.footer__baseline,
.footer__social,
.footer__nav,
.footer__content {
	@include breakpoint(tablet) {
		display: table-cell;
		vertical-align: middle;
	}
}

.footer__baseline,
.footer__nav {
	@include breakpoint(tablet) {
		width: 35%;
	}
}

.footer__baseline {
	font-weight: 700;

	a {
		display: table;
		text-decoration: none;
		color: inherit;

		margin: 0 auto;

		@include breakpoint(tablet) {
			margin: 0;
		}
	}

	span, img {
		display: table-cell;
		vertical-align: middle;
	}

	img {
		margin-right: 0.5em;
	}
}

.footer__social {
	text-align: center;
	padding: 10px 0;
}

.footer__nav {
	font-size: 85%;
	text-align: center;
	padding: 15px 0;

	@include breakpoint(tablet) {
		text-align: right;
	}
}

.footer__copyright {
	background: #cccccc;
	color: #666666;
	text-align: center;
	font-size: 16px;
	padding: 3px 1em;
}