/* FormHack v1.2.0 (formhack.io) */
// Center/Left-Aligned Layout
@mixin center-layout {
	@if $form__centered == true {
		margin: 10px auto;
		text-align: center;
	}
	@else {
		margin: 0;
	}
}

/* Global Reset Styles ------------------ */

input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
	box-sizing: border-box;
	outline: none;

	font-family: $form__font-family;
	font-size: $form__font-size;
	color: $form__font-color;
	vertical-align: top;

	display: $form__display;
	@include center-layout;
}


datalist {
	font-family: $form__font-family;
	font-size: $form__font-size;
}

label {
	display: $form__display;
	@include center-layout;
}



/* Input & Textarea ------------------ */

/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
	width: $form__input-width;
	padding: $form__input-height / 5;
	background-color: $form__input-bg-color;

	border-radius: $form__border-radius;
	border: $form__border-width $form__border-style $form__border-color;
}

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
	height: $form__input-height;
	-webkit-appearance: none;
}

/* Other */

textarea {
	-webkit-appearance: none;
	overflow: auto;
}

input[type="range"] {
	height: $form__input-height;
	width: $form__input-width;
	max-width: $form__input-max-width;
}

input[type="file"] {
	min-height: $form__input-height;
}

input[type="search"] {
	height: $form__input-height;
	-webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
}
// For checkbox and radio to be centered, need to wrap the input and label in a span -
// .checkbox-container {
// 	display: block;
// 	text-align: center;
// }


/* Select ------------------ */

select {
	height: $form__input-height;

	@if $form__allow-select-vendor-styling == false {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		&::-ms-expand {
			display: none;
		}

		background-image:
			linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%);
		background-position:
			calc(100% - 20px) 50%,
			calc(100% - 15px) 50%;
		background-size:
			5px 5px,
			5px 5px;
		background-repeat: no-repeat;
		padding-right: 40px;
	}
}

select[multiple] {
	height: auto;
	min-height: $form__input-height;
	padding: 0;

	option {
		margin: 0;
		padding: $form__input-height / 5;
	}
}

option {
	background-color: #fff;

	&:disabled {
		font-weight: bold;
	}
}

/* Fieldset ------------------ */

fieldset {
	@if $form__fieldset-bare == true {
		padding: 0;
		border: 0;
	}
	@else {
		padding: 10px 25px;
		border-radius: $form__border-radius;
		border: $form__border-width $form__border-style $form__border-color;
	}
}

legend {
	@if $form__fieldset-bare == true {
		padding: 0;
		font-weight: inherit;
	}
	@else {
		padding: 0 5px;
		font-weight: 700;
	}
}

/* Buttons, Input Type Submit/Reset ------------------ */

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
	height: $form__button-height;
	width: $form__button-width;
	background-color: $form__button-bg-color;
	padding: $form__input-height / 5 $form__input-height / 2;
	cursor: pointer;
	border: 0;
	text-transform: uppercase;

	display: inline-block;

	color: $form__button-font-color;
	font-weight: 700;

	-webkit-appearance: none;
	-moz-appearance: none;

	border-radius: $form__border-radius;

	box-shadow: 0 4px 5px rgba(#000, 0.6);
}

input[type="image"] {
	text-align: center;
	padding: $form__input-height / 5;
}

/* States ------------------ */

input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
	cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus  {
	background-color: $form__focus-bg-color;
	border-color: $form__focus-border-color;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
	outline: $form__focus-border-color solid 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
	background-color: $form__button-hover-bg-color;
	color: $form__button-hover-font-color;
}