.header {
    padding: 25px 0 10px 0;
    word-wrap: break-word;
}

.header__container {
    position: relative;
}

.header__top {
    @extend %clearfix;

    .header__back {
        display: none;
    }
}

.header__content {
    @extend %clearfix;
}

.header__right {
    .button {
        font-size: 18px;
        margin: 0.5em 0.5em 0 0;
    }
    @include breakpoint(tablet) {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.header__icon {
    float: left !important;
    width: 45px;
    height: auto;
    margin-right: 1em;
    margin-top: -5px;

    @media all and (max-width: 480px) {
        float: initial;
    }
}

.header__back {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.8em !important;
    margin-bottom: 0 !important;
    padding: 8px 9px 5px;
}

.header__breadcrumb {
    display: inline-block;
    vertical-align: middle;
    display: none;
}

.header__title {
    max-width: 100%;
    pointer-events: none;

    @include breakpoint(phone) {
        float: left;
    }
}

.header__subtitle {
  padding-top: 0.5em;
  font-size: 22px;
  line-height: 1;
  font-weight: 400;
  margin-top: 0px; }
  @media (min-width: 30em) {
    .header__subtitle {
      float: left;
      padding-left: 10px;
      padding-top: 20px; } }

.parent__breadcrumb {
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    margin-top: 0px;
}

.logo_mobile {
    display: inline-block;
    width: 100%;

    @include breakpoint(menu) {
        display: none;
    }
}

.header__content__breadcrumb {
    a{
        text-decoration: none;
        color: white;
        pointer-events: auto;
    }

    @media all and (max-width: 480px) {
        text-align: left;
    }
}

