@font-face {
  font-family: 'timacagro';
  src:  url('#{$icomoon-font-path}/timacagro.eot?2cu8o0');
  src:  url('#{$icomoon-font-path}/timacagro.eot?2cu8o0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/timacagro.ttf?2cu8o0') format('truetype'),
    url('#{$icomoon-font-path}/timacagro.woff?2cu8o0') format('woff'),
    url('#{$icomoon-font-path}/timacagro.svg?2cu8o0#timacagro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'timacagro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
	@include icon();
}

.icon--diagnosis {
  &:before {
    content: $icon--diagnosis;
  }
}
.icon--download {
  &:before {
    content: $icon--download;
  }
}
.icon--video {
  &:before {
    content: $icon--video;
  }
}
.icon--man {
  &:before {
    content: $icon--man;
  }
}
.icon--research {
  &:before {
    content: $icon--research;
  }
}
.icon--tractor {
  &:before {
    content: $icon--tractor;
  }
}
.icon--chevron-down {
  &:before {
    content: $icon--chevron-down;
  }
}
.icon--chevron-left {
  &:before {
    content: $icon--chevron-left;
  }
}
.icon--chevron-right {
  &:before {
    content: $icon--chevron-right;
  }
}
.icon--chevron-small-down {
  &:before {
    content: $icon--chevron-small-down;
  }
}
.icon--chevron-small-left {
  &:before {
    content: $icon--chevron-small-left;
  }
}
.icon--chevron-small-right {
  &:before {
    content: $icon--chevron-small-right;
  }
}
.icon--chevron-small-up {
  &:before {
    content: $icon--chevron-small-up;
  }
}
.icon--chevron-thin-down {
  &:before {
    content: $icon--chevron-thin-down;
  }
}
.icon--chevron-thin-left {
  &:before {
    content: $icon--chevron-thin-left;
  }
}
.icon--chevron-thin-right {
  &:before {
    content: $icon--chevron-thin-right;
  }
}
.icon--chevron-thin-up {
  &:before {
    content: $icon--chevron-thin-up;
  }
}
.icon--chevron-up {
  &:before {
    content: $icon--chevron-up;
  }
}
.icon--controller-fast-forward {
  &:before {
    content: $icon--controller-fast-forward;
  }
}
.icon--controller-jump-to-start {
  &:before {
    content: $icon--controller-jump-to-start;
  }
}
.icon--controller-next {
  &:before {
    content: $icon--controller-next;
  }
}
.icon--controller-paus {
  &:before {
    content: $icon--controller-paus;
  }
}
.icon--controller-play {
  &:before {
    content: $icon--controller-play;
  }
}
.icon--controller-record {
  &:before {
    content: $icon--controller-record;
  }
}
.icon--controller-stop {
  &:before {
    content: $icon--controller-stop;
  }
}
.icon--magnifying-glass {
  &:before {
    content: $icon--magnifying-glass;
  }
}
.icon--menu {
  &:before {
    content: $icon--menu;
  }
}
.icon--phone {
  &:before {
    content: $icon--phone;
  }
}
.icon--skype-with-circle {
  &:before {
    content: $icon--skype-with-circle;
  }
}
.icon--facebook-with-circle {
  &:before {
    content: $icon--facebook-with-circle;
  }
}
.icon--google-with-circle {
  &:before {
    content: $icon--google-with-circle;
  }
}
.icon--instagram-with-circle {
  &:before {
    content: $icon--instagram-with-circle;
  }
}
.icon--linkedin-with-circle {
  &:before {
    content: $icon--linkedin-with-circle;
  }
}
.icon--pinterest-with-circle {
  &:before {
    content: $icon--pinterest-with-circle;
  }
}
.icon--twitter-with-circle {
  &:before {
    content: $icon--twitter-with-circle;
  }
}
.icon--vimeo-with-circle {
  &:before {
    content: $icon--vimeo-with-circle;
  }
}
.icon--youtube-with-circle {
  &:before {
    content: $icon--youtube-with-circle;
  }
}

