.image {
    position: relative;
}

.image__image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin-bottom:20px;
}

.image__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#fff, 0.5);
    padding: 2em 2em 1.5em;
}

.image__title {
    text-transform: uppercase;
}

.image__legend {

}
