.landing-page {

}

.landing {
    float: right;
    margin-top: 0;
}


.landing-page__header {
    color: #fff;
    overflow: hidden;

    @include breakpoint(menu) {
        padding-top: 80px;
    }
}

.landing-page__header--top {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.landing-page__header--bottom {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 0;

    @include breakpoint(tablet) {
        background-size: auto;
    }
}

.landing-page__header--both {
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, top center;
    background-size: 0, 100% auto;

    @include breakpoint(tablet) {
        background-size:  auto, 100% auto;
    }
}

.landing-page__logo {
    text-align: center;
    margin-bottom: 15%;
    margin-left: -30%;
    margin-right: -30%;

    @include breakpoint(tablet) {
        margin-left: 0;
        margin-right: 0;
    }
}

.landing-page__logo-desktop {
    display: none;
    display: inline-block;

    @include breakpoint(tablet) {
    }
}

.landing-page__logo-small {
    display: none;

    @include breakpoint(tablet) {
        display: none;
    }
}

.landing-page__content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3em;

    br {
        display: none;

        @include breakpoint(tablet) {
            display: initial;
        }
    }

    @include breakpoint(tablet) {
        .l-grid {
            display: table;
            width: 100%;

            > .l-column {
                display: table-cell;
                float: none;
                vertical-align: middle;
            }
        }
    }
}

.landing-page__title,
.landing-page__subtitle {
    text-shadow: 0 5px 10px rgba(0,0,0,0.9);
    font-weight: 700;
}

.landing-page__title {
    font-size: 50px;
    line-height: 50px;
}

.landing-page__subtitle {
    font-size: 35px;
    line-height: 40px;
}

.landing-page__button {
    padding: 1em;
}

.landing-page__tip {
    text-align: center;
    background-color: $color__orange;
    padding: 1.5em;

    br {
        display: none;

        @include breakpoint(tablet) {
            display: initial;
        }
    }

    @include breakpoint(tablet) {
        position: relative;
        height: 200px;
        background-color: transparent;
    }
}

.landing-page__tip-container {
    @include breakpoint(tablet) {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }
}

.landing-page__tip-title {
    font-size: 28px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 12px;
}

.landing-page__tip-content {
    color: $color__text;
}

.landing-page__baseline {
    color: $color__light;
    text-align: center;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 1em;
}

.landing-page__products {

}

.landing-page__product {
    margin-bottom: 1.5em;
}

.landing-page__product-image {
    margin: 0 auto;
    padding-right: 26px;
    display: block;
}
