.menu {
	list-style: none;
}

.menu--header {
	font-size: 0;
	position: absolute;
	display: none;
	transition: 0.3s;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #fff;

	@include breakpoint(menu) {
		text-align: right;
		position: static;
		display: block;
		top: auto;
		background-color: transparent;
	}

	&.toggle {
		display: block;
	}

	.menu-item {
		text-transform: uppercase;
		font-size: 26px;
		line-height: 30px;

		@include breakpoint(menu) {
			display: inline-block;
			line-height: 26px;
		}

		> a {
			display: block;
			color: $color;
			padding: 27px 15px;
			background-color: transparent;
			transition: 0.3s;

			@include breakpoint(menu) {
				padding: 27px 20px;
				height: 80px;
			}

			&:hover {
				text-decoration: none;
				color: #fff;
				background-color: $color;
			}
		}
	}
}

.menu--inline {
	.menu-item {
		display: inline-block;
		padding: 0.5em;
	}
}

.menu-item {

	> a {
		color: $color__text;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.menu__toggle {
	display: inline-block;
	background-color: $color__light;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0;
	transition: background-color 0.3s;
	float: right;


	&:hover {
		background-color: $color;
		color: #fff;
	}

	&:before {
		@include icon();
		content: $icon--menu;
		font-size: 30px;
	}

	@include breakpoint(phone) {
		float: right;
		padding: 15px;
		font-size: inherit;
	}

	@include breakpoint(menu) {
		display: none;
	}
}