.numbers {
	text-align: center;
}

.number {
	display: inline-block;
	width: 230px;
	height: 230px;
	margin: 37px;
	background-color: #e1e1e1;
	border-radius: 50%;
	color: $color;
	vertical-align: middle;
	position: relative;
	line-height: 1;
	box-shadow: 0 0 0 14px rgba(#e1e1e1, 0.5);

	@include breakpoint(phone) {
		width: 236px;
		height: 236px;
	}

	@media (max-width: 340px) {
		background-color: transparent;
		box-shadow: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		background-color: rgba(#e1e1e1, 0.5);
		z-index: -1;
		border-radius: 50%;

		@media (max-width: 340px) {
			display: none;
		}
	}

	&:before {
		width: 40px;
		height: 40px;
		left: -60px;
		top: 105px;
	}

	&:after {
		width: 70px;
		height: 70px;
		top: 160px;
		left: -25px;
	}

	&:nth-child(2n):before {
		top: 200px;
		left: 200px;
	}

	&:nth-child(3n):before {
		top: 200px;
		left: 200px;
	}

	&:nth-child(5n):before {
		top: 0;
		left: 200px;
	}

	&:nth-child(2n):after {
		width: 80px;
		height: 80px;
		top: 160px;
		left: 160px;
	}

	&:nth-child(3n):after {
		width: 90px;
		height: 90px;
		top: -30px;
		left: -30px;
	}
}

.number__icon {
	display: block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-color: $color__light;
	color: #fff;
	border-radius: 50%;
	font-size: 40px;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -40px;
}

.number__image {
	max-width: 56px;
	max-height: 56px;
	vertical-align: middle;
}

.number__suptitle,
.number__number,
.number__title,
.number__subtitle {
	display: block;
	width: 100%;
	position: absolute;
}

.number__suptitle {
	font-size: 16px;
	bottom: calc(50% + 30px);
	padding: 0 16px;
}

.number__number {
	font-size: 70px;
	top: 50%;
	margin-top: -28px;
}

.number__title {
	font-size: 22px;
	font-weight: 700;
	top: calc(50% + 36px);
	padding: 0 16px;
}

.number__subtitle {
	font-size: 16px;
	top: calc(50% + 62px);
	padding: 0 30px;
}
