.offer {
	border: 2px solid $color__gray;

	@include breakpoint(tablet) {
		display: table;
		width: 100%;
	}
}

.offer__image,
.offer__content {
	@include breakpoint(tablet) {
		display: table-cell;
	}
}

.offer__image {
	width: 100%;
	padding-bottom: 56.25%;
	background: no-repeat center center;
	background-size: cover;

	@include breakpoint(tablet) {
		width: 50%;
		padding-bottom: 0;
	}
}

.offer__content {
	padding: 2em;
}

.offer__title {

}

.offer__button {

}