.pastille {
	display: table;
}

a.pastille {
	color: inherit;
	text-decoration: none;

	&:hover {
		.pastille__tag {
			background-color: $color__link;
		}
	}
}

.pastille__tag,
.pastille__label {
	display: table-cell;
	vertical-align: middle;
}

.pastille__tag {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-color: #2b7633;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 2;
	vertical-align: middle;
	font-size: 140%;
}

.pastille__tag--security {
	background-color: #000;
	transition: background-color 0.2s;
}

.pastille__label {
	padding-left: 0.5em;
}