.poster {
	background: $color no-repeat center center;
	background-size: cover;
	color: #fff;
	padding: 105px 40px;
}

.poster__wrapper {
}

.poster__title {
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 0.5em;
	color: inherit;
}

.poster__content {
	font-size: 35px;
	margin-bottom: 0.5em;
	width: 340px;
	max-width: 100%;
	line-height: 40px;
}

.poster__button {

}