.product {

}

@each $name, $color in $color--list {
    .product--#{$name} {
        .product__subtitle {
            color: $color;
        }

        .tabs__anchor {
            background-color: mix($color, #fff);

            &:hover,
            &.tabs__anchor--active {
                background-color: $color;
            }
        }

        .offer {
            border-color: $color;
        }
    }
}

.product__slider {

}

.product__content {

}
.product__slider + .product__content .product__image {
    position: relative;
    margin-top: -120px;
    display: block;
    vertical-align: middle;
}

.product__button {

    @include breakpoint(tablet) {
        text-align: right;
    }

    .button {
        margin-right: 0;
        display: block;

        @include breakpoint(tablet) {
            font-size: 19px;
            margin-left: 0.5em;
            display: inline-block;
        }
    }
}

.product__subtitle {
    font-size: 30px;
    font-weight: 700;
}

.product__related-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 1em;
}

.product__introduction {
  color: black; }
  .product__introduction h1, .product__introduction h2 {
    color: black;
    margin: 0; }
  .product__introduction h2 {
    font-family: Khand;
    font-size: 32px;
    line-height: 1;
    text-align: left;
    color: #000000;
    font-weight: normal; }
  .product__introduction .gamme__logo {
    width: 30%;
    float: left; }
    @media all and (max-width: 480px) {
      .product__introduction .gamme__logo {
        display: none; } }
  .product__introduction .gamme__logo__mobile {
    float: initial;
    width: 100%;
    text-align: center; }
    @media all and (min-width: 480px) {
      .product__introduction .gamme__logo__mobile {
        display: none; } }
  .product__introduction .product__intro {
    width: 70%;
    float: right;
    padding-left: 20px; }
    @media all and (max-width: 480px) {
      .product__introduction .product__intro {
        display: none; } }
  .product__introduction .product__intro__mobile {
    float: initial;
    width: 100%;
    text-align: center;
    padding-top: 15px;}
  .product__introduction .product__intro__mobile h2 {
    text-align: center;}
    @media all and (min-width: 480px) {
      .product__introduction .product__intro__mobile {
        display: none; } }

.product__expert__container {
    position: relative;
    display: block;

    @media all and (max-width: 955px) {
        display: none;
    }

    .product__expert {
        background-color: #f8f8f8;
        margin-top: -50%;
        padding: 20px;

        h3 {
            object-fit: contain;
            font-family: Khand;
            font-size: 36px;
            font-weight: bold;
            line-height: 1;
            text-align: left;
            color: #0f1626;
        }

        a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            margin-bottom: 10px;
            text-transform: uppercase;
            background-color: $color__light;
            font-weight: bold;
            font-size: 20px;
            border-radius: 4px;
            line-height: 1;
            border: 0;
            box-shadow: 0 4px 5px rgba(#000, 0.6);
            cursor: pointer;
            transition: background-color 0.3s;
            text-align: center;
            width: 100%;
        }

        .aside__icon {
            float: left;
            margin: 5px 10px;

            .icon--calendar {
                width: 25px;
                height: 33px;
                background-repeat: no-repeat;
                display: block;
            }
        }

        .product__expert__container .product__expert .aside__icon .icon--calendar {
        width: 25px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 25px;
        display: block;
        margin-left: 3px;}

        .aside__text {
            margin: 13px 0;
            width: 80%;
            float: right;
            text-align: left;
        }

    @media (min-width: 955px) {
.product__expert__container .product__expert .aside__text {
    font-size: 18px;
} }
    @media (min-width: 955px) and (max-width: 1200px) {
      .product__expert__container .product__expert .product__expert__container .product__expert .aside__text {
        width: 75%; }
        .product__expert__container .product__expert {
        margin-top: -40%; }
.product__expert__container .product__expert .aside__text {
    width: 77%;
    font-size: 17px;
} }

        .dark {
            background-color: #007bbc;
        }
    }
}


.video-section {
  text-align: center; }
  .video-section .video-wrapper {
  display: inline-block; }

.video {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px;
  color: black; }
  
  @media all and (max-width: 825px) {
    .video {
      width: 100% !important; } }

    h3 {
        font-size: 24px;
        color: black;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
    .embed-container-2 {
        position: relative;
        padding-bottom: 5%;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.grey_background {
    background-color: #f8f8f8;
}

.product__section_block {
    padding: 20px 15px;
}

.conditionnement {
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f8f8;
}

.more_description {
    @media all and (max-width: 625px) {
        margin-top: 30px;
    }
}
