.product-filter {
	border: 1px solid #ccc;
	padding: 14px;
}

.product-filter__form {
	color: $color__gray;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}

.product-filter__label,
.product-filter__select,
.product-filter__submit,
.product-filter__reset {
	display: inline-block;
	margin: 10px;
}

.product-filter__label {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	line-height: $form__input-height;

	@include breakpoint(tablet) {
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.product-filter__select {
	width: 250px;
	background-color: $color__light;
	border-color: $color__light;
	color: #fff;
	font-weight: inherit;

    background-image:
    	linear-gradient(45deg, transparent 50%, #fff 50%),
    	linear-gradient(135deg, #fff 50%, transparent 50%);

	box-shadow: 0 4px 5px rgba(#000, 0.6);
}

.product-filter__select:focus {
	background-color: $color__light;
	border-color: $color__light;
	color: #fff;
}

.product-filter__submit {
	width: auto !important;
	padding-left: 16px !important;
	padding-right: 16px !important;

	.js & {
		display: none;
	}
}