.search-slider {
	position: relative;
}

.search-slider__search {
	display: none;

	.l-container {
		padding: 0;

		@include breakpoint(tablet) {
			padding: 0 $grid__gutter;
		}
	}

	@include breakpoint(tablet) {
		display: block;
	}
}

.search-slider__button {
	@include breakpoint(tablet) {
		display: none;
	}
}

.search-slider__down {
	display: none;
	width: 80px;
	height: 40px;
	margin: 10px auto -50px;
	font-size: 200%;
	text-align: center;
	color: $color__light;
	text-decoration: none;

	@include breakpoint(tablet) {
		display: block;
	}
}

#home-content {
	.search-slider__button {
		.button {
			@media all and (max-width: 48em) {
				width: 100%;
			}
		}
	}
}
