.search {
	background-color: rgba($color, 0.8);
	color: #fff;
	padding: 15px 32px 35px;
	transition: background-color 0.3s;

	@extend %clearfix;

	@include breakpoint(tablet) {
		border-radius: 5px;
	}

	@include breakpoint(desktop) {
		padding: 35px 32px;
	}
}

.search--loading {
	.search__fields {
		transition: opacity 0.3s;
		cursor: wait;
		opacity: 0.3;
	}
}

.search__label,
.search__fields,
.search__select,
.search__button {
	float: left;
}

.search__label {
	width: 100%;
	font-size: 25px;
	line-height: 50px;
	font-weight: bold;
	margin: 0;
	text-align: center;

	@include breakpoint(desktop) {
		width: 25%;
		text-align: left;
	}
}

.search__fields {
	width: 100%;
	box-shadow: 0 4px 5px rgba(#000, 0.6);
	border-radius: 10px;
	transition: opacity 0.3s;

	@include breakpoint(desktop) {
		width: 75%;
	}
}

.search__select {
	width: 100%;
	margin: 0;
	border-radius: 0;
	border-bottom-width: 0 !important;

	@include breakpoint(phone) {
		border-right-width: 0 !important;
		border-bottom-width: 1px !important;
		width: 33.3%;
	}

	@include breakpoint(tablet) {
		width: 25%;
	}

	&:first-child {
		border-radius: 3px 3px 0 0;

		@include breakpoint(phone) {
			border-radius: 3px 0 0 0;
		}

		@include breakpoint(tablet) {
			border-radius: 3px 0 0 3px;
		}
	}

	&:last-of-type {
		@include breakpoint(phone) {
			border-radius: 0 3px 0 0;
			border-right-width: 1px !important;
		}
		@include breakpoint(tablet) {
			border-radius: 0;
			border-right-width: 0px !important;
		}
	}
}

.search__button {
	width: 100% !important;
	box-shadow: none;
	border-radius: 0 0 3px 3px !important;
	margin: 0;
	box-shadow: none !important;

	@include breakpoint(phone) {
		border-radius: 0 0 3px 3px !important;
	}

	@include breakpoint(tablet) {
		width: 25% !important;
		border-radius: 0 3px 3px 0 !important;
	}
}

