.site {

}

@media (max-width: 340px) {
  body {
    overflow-x: hidden;
  }
}

.site__header {
    z-index: 100;
    background: rgba(#fff, 0.85);
    padding: 10px;
    position: relative;
    @extend %clearfix;

    @include breakpoint(menu) {
        position: fixed;
        left: 0;
        right: 0;
        padding: 0px;
    }
}

.landing {
        float:right; }

.site__home {
    display: block;
    float: left;
    height: 40px;
    width: 130px;
    text-indent: -999em;
    background: url(images/logo.png) no-repeat center center;
    background-size: contain;

    @include breakpoint(phone) {
        height: 50px;
        width: 183px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    @include breakpoint(tablet) {
        height: 60px;
        width: 219px;
        margin-top: 0;
    }

    @include breakpoint(menu) {
        display: none;
    }
}

.site__home--visible {
    @include breakpoint(menu) {
        display: block;
        width: 260px;
        height: 80px;
        max-width: 260px;
        line-height: 80px;
        background: transparent;
        text-indent: 0;

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }
    @include breakpoint(desktop) {
        width: 300px !important;
        max-width: 300px !important;
    }
}

.site__navigation {
    display: inline-block;
    float: left;
    width: auto;

    @include breakpoint(phone) {
    }

    @include breakpoint(menu) {
        display: block;
    }

    @media (min-width: 60em) and (max-width: 1339px) {
      display: block;
    margin-top: 35px;
    }

    @media (min-width: 1025px) {
      display: block;
    }
}



.site__phone {
    float: left;
    text-align: center;
    background-color: #007bbc;
    color: white;
    max-width: 200px;
    width: 20%;
    position: absolute;
    right: 7%;
    padding: 10px;

    .prefix {
        display: inline-block;
        font-size: 16px;
    }

    .phone {
        display: inline-block;
        font-size: 32px;
        line-height: 28px;

        @media (min-width: 956px) and (max-width: 1340px) {
            font-size: 18px;
            line-height: 16px;
        }
    }

    .sufix {
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
    }

    @media all and (max-width: 955px) {
        display: none;
    }

    @media (min-width: 956px) and (max-width: 1340px) {
        width: 100% !important;
        max-width: initial;
        right: 0;
        padding: 5px;
    }

    @media (min-width: 0px) and (max-width: 955px) {
        display: none;
    }
}

.site__aside {
    z-index: 1000;
    display: inline-block;
    float: right;

    .aside__icon {
        min-width: 30px;
        min-height: 30px;

        .icon--calendar {
            background-repeat: no-repeat;
            width: 25px;
            height: 32px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-size:25px;
        }
    }

    @include breakpoint(menu) {
        float: none;
        display: block;
        position: fixed;
        right: 0;
        top: 100px;
    }

    @include breakpoint(desktop) {
        top: 10px;
    }

    .admin-bar & {
        top: 132px;

        @include breakpoint(desktop) {
            top: 42px;
        }
    }
}

.site__aside__desktop {
    .kxowave2 {
        display: none;
    }

    @media all and (max-width: 1024px) {
        display: none;
    }
}

.single-product {
    .site__aside__desktop {
        display: none;
    }
}

.site__aside__mobile {
    @include breakpoint(menu) {
        display: none;
    }
}

.site__content {
    @include breakpoint(menu) {
        padding-top: 80px;

        .home &,
        .page-template-landing-page & {
            padding-top: 0;
        }
    }

    @media (min-width: 60em) {
    padding-top: 115px;
    }

    @media (min-width: 1340px) {
      padding-top: 80px;
    }
}

.site__footer {
    border-top: 1px solid #cccccc;
}
