.slider {
	position: relative;
	overflow: hidden;
}

.slider--home {
	.slider__inner {
		padding-bottom: 75%;

		@include breakpoint(phone) {
			padding-bottom: 56.25%;
		}
		@include breakpoint(tablet) {
			padding-bottom: 15%;
			padding-top: 309px;
		}
	}
	@media (max-width: $grid__container) {
		.slick-arrow {
			display: none !important;
		}
	}
}

.slider--tab {

	.slider__list {
		background-color: $color__light;
		padding-left: 35px;
		padding-right: 35px;

		@include breakpoint(phone) {
			padding-left: 60px;
			padding-right: 60px;
		}
	}

	@media (min-width: $grid__container) {
		overflow: visible;
		max-width: $grid__container - 2 * $grid__gutter;
		margin: 0 auto;

		.slider__list {
			padding-left: 0;
			padding-right: 0;
			overflow: visible;
			background-color: transparent;
		}

		.slick-list {
			padding-top: 25px;
			margin-top: -25px;
		}
	}

	.slick-arrow {
		background-color: transparent;
		box-shadow: none;
		color: #fff;
		width: 35px;
		height: 35px;
		transform: translateY(-50%);

		@include breakpoint(phone) {
			width: 60px;
			height: 60px;
		}

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
		}
	}

	.slick-prev {
		left: 0;
	}
}

.slider__tab {
	padding: 20px 0;
	font-size: 16px;
	line-height: 18px;
	background-color: $color__light;
	transition: all 0.3s;
	position: relative;

	@media (min-width: $grid__container) {
		padding: 12px 20px;
		background-color: #fff;
		border-radius: 5px 5px 0 0;

		.slick-current & {
			background-color: $color__light;
			transform: translateY(-25px);
		}
	}
}

.slider__tab-title {
	font-weight: bold;
	color: #fff;

	@media (min-width: $grid__container) {
		color: $color__light;

		.slick-current & {
			color: #fff;
		}
	}
}

.slider__tab-description {
	color: #fff;

	@media (min-width: $grid__container) {
		color: #999999;

		.slick-current & {
			color: #fff;
		}
	}
}

.slider__list {
	overflow: hidden;
}

.slider__slide {
	display: block;
	background-color: $color;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.slider__slide--tab {
	@media (min-width: $grid__container) {
		background-color: #fff;
		transition: background-color 0.3s;
		margin-bottom: -99em;
		padding-bottom: 99em;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: -1px;
			top: 0;
			border-left: 1px solid #e4e4e4;
			z-index: 1;
		}

		&.slick-current {
			background-color: $color__light;
			z-index: 10;

			&:after {
				content: none;
			}
		}
	}
}

.slider__slide--bg-center {
	background-position: center center;
}

.slider__slide--bg-left {
	background-position: left center;
}

.slider__slide--bg-right {
	background-position: right center;
}

.slider__slide--fixed {
	.slider__inner {
		padding-bottom: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

	}
}

.slider__splash {
	position: absolute;
	bottom: 10%;
	color: #fff;
	width: 100%;
	font-size: 35px;
	line-height: 1.15;
	text-align: left;

	text-shadow: 4px 8px 50px rgba(#000, 0.75);

	@include breakpoint(phone) {
		font-size: 52.5px;
	}

	@include breakpoint(tablet) {
		font-size: 70px;
	}

	@include breakpoint(desktop) {
	}

	.l-container {
		@include breakpoint(tablet) {
			display: table;
			width: 100%;
		}
	}
}

.slider__button,
.slider__baseline {
	@include breakpoint(tablet) {
		display: table-cell;
		vertical-align: middle;
	}
}

.slider__button {
	text-shadow: 0;
	white-space: nowrap;

	@include breakpoint(tablet) {
		text-align: right;
	}
}

.slider__inner {
	padding-bottom: 56.25%;
	position: relative;
}

.slider__inner--link {
	display: block;
	color: inherit;

	&:hover {
		color: inherit;
	}
}

.slider__content {
	background-color: rgba(#fff, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 27px 0;
}

.slider__title {
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 10px;
}

.slider__effect {
	position: absolute;
	content: '';
	opacity: 0.6;
	top: 33%;
	left: 60%;
	width: 50%;
	pointer-events: none;

	&:before {
		content: '';
		padding-bottom: 100%;
		border: 2px dashed #fff;
		width: 100%;
		display: block;
		border-radius: 50%;
	}
}

.slider__effect--alt {
	top: 92%;
	left: 5%;
	width: 15%;

	&:before {
		border-style: solid;
	}

	&:after {
		content: '';
		width: 20px;
		height: 20px;
		position: absolute;
		right: 0;
		top: 0;
		background-color: #fff;
		border-radius: 50%;
	}
}

