.social {
	list-style: none;
}

.social__item {
	display: inline-block;
	font-size: 44px;
	margin: 0 10px;

	a {
		text-decoration: none;
		color: $color;

		&:hover {
			color: $color__light;
		}
	}
}