.tabs {

}

.tabs__list {
	overflow: auto;
}

.tabs__tabs {
	color: #fff;
	display: table;
	min-width: 100%;

	@include breakpoint(tablet) {
		width: 100%;
		table-layout: fixed;
	}
}

.tabs__item {
	display: table-cell;
	text-align: center;
	border-right: 1px solid;
	vertical-align: middle;
	width: 1%;

	&:last-child {
		border-right: 0;
	}
}

.tabs__anchor {
	text-decoration: none;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: mix($color__gray, #fff);
	display: block;
	padding: 20px;
	color: inherit;
	transition: background-color 0.3s;
	white-space: nowrap;

	&:hover {
		background-color: $color__gray;
		color: #fff;
	}
}

.tabs__anchor--active {
	background-color: $color__gray;
	color: #fff;
}

.tabs__container {
	position: relative;
}

.tabs__content {
	display: none;
}

.tabs__content--active {
	display: block;
}