.taxonomy {

}

@each $name, $color in $color--list {
    .taxonomy--#{$name} {
        .taxonomy__title {
            color: $color;
        }

        .taxonomy__parent-title {
            background-color: mix($color, #fff);

            &:hover {
                background-color: $color;
            }
        }
    }
}

.taxonomy__intro {
    text-align: center;
}

.taxonomy__title {
    font-weight: bold;
    margin-bottom: 15px;
}

.taxonomy__parent-list {
    column-count: 2;
    column-gap: $grid__gutter;
    column-fill: balance;
}

.taxonomy__parent {
    display: inline-block;
}

.taxonomy__parent-title {
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 23px 34px 17px;
    background-color: mix($color__gray, #fff);
    transition: background-color 0.3s;

    &:hover {
        background-color: $color__gray;
        color: #fff;
    }
}

.titre_taxonomies_premier {
  width: 100%;
  height: 60px;
  font-family: Khand;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.14;
  text-align: center;
  color: #4a4a4a;

    @media all and (max-width: 650px) {
        margin-bottom: 25px;
    }
}

.titre_taxonomies_second {
  width: 100%;
  height: 40px;
  object-fit: contain;
  font-family: Khand;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.14;
  text-align: center;
  color: #4a4a4a;
}

.buttonsmore {
    text-align: center;
    margin: 20px 0px;
    width: 100%;
    display: inline-block;

    .card__button {
        float: left;
        margin: 10px;
    }

    .green {
        background-color: #76B828;
    }

    .brown {
        background-color: #91411E;
    }

    .orange {
        background-color: #F3920F;
    }
}

.gamme_logo {
    min-height: 150px;
    display: inline-block;

    img {
        float: left;

        @media all and (max-width: 650px) {
            float: initial;
        }
    }

    .gamme_title {
        margin-left: 25px;
        margin-top: 45px;
        float: left;
    }

    @media all and (max-width: 650px) {
        margin-top: 5px;
        float: initial;
    }
}
