.text {
	> *:first-child {
		margin-top: 0;
	}

	p,
	table,
	blockquote,
	ul,
	ol,
	dl,
	table,
	pre,
	img,
	figure {
		margin-bottom: 1em;
	}

	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-bottom: 0;
	}

	ol {
		padding-left: 2em;
	}

	ul {
		list-style: none;

		> li {
			position: relative;
			padding-left: 1em;

			&:before {
				content: $icon--chevron-right;
				position: absolute;
				@include icon();
				left: 0;
				line-height: 1.86;
				font-size: 75%;
			}
		}
	}

	ol {
		list-style: decimal;
	}

	figure {
		position: relative;
		img {
			vertical-align: middle;
			margin-bottom: 0;
		}
	}

	figcaption {
		text-align: center;
	}

	blockquote {
		position: relative;
		padding-left: 1em;
		font-style: italic;
		border-left: 2px solid $color__gray;

		cite {
			display: block;
			font-style: normal;
		}
	}

	h1,h2,h3,h4,h5,h6 {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	em, i {
		font-style: italic;
	}

	strong, b {
		font-weight: 700;
	}

	dt {
		font-weight: 600;
	}

	dd {
		padding-left: 2em;
	}

	table {

	}

	th,
	td {
		padding: 0.5em 1em;
	}

	th {
		font-weight: 600;
		background-color: $color;
		color: #fff;
		border: 1px solid $color;
	}

	td {
		border: 1px solid $color__gray;
	}

	pre {
		font-family: monospace;
		background-color: $color__gray;
		color: #fff;
		padding: 0.5em 1em;
	}

	sup,
	sub {
		font-size: 75%;
	}

	sup {
		vertical-align: text-top;
	}

	sub {
		vertical-align: text-bottom;
	}
}

.text--left {
	text-align: left;
}

.text--right {
	text-align: right;
}

.text--center {
	text-align: center;
}

.text--justify {
	text-align: justify;
}

.text--lead {
	font-size: 25px;
	line-height: 30px;
}