.ubermenu.ubermenu-main {
	background: #fff;
	position: absolute;
	left: 0;
	top: 100%;

	@include breakpoint(menu) {
		background: none;
		position: relative;
		left: auto;
		top: auto;

		.ubermenu-nav {
			display: table;
			width: 100%;
		}
	}

	.ubermenu-item {
		&.ubermenu-item-level-0 {

			@include breakpoint(menu) {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
			> .ubermenu-target {
				font-size: 26px;
				padding-top: 27px;
				padding-bottom: 27px;

				&:before {
					content: none;
				}

				.ubermenu-target-text {
					white-space: nowrap;
				}
			}

			> .ubermenu-submenu {
				border-radius: 0 0 5px 5px;
			}
		}

		&.ubermenu-item-level-1 {
			> .ubermenu-target {
				font-size: 25px;
				padding-top: 45px;
				padding-bottom: 45px;
				transition: background-color 0.3s;
				text-align: center;

				&:before {
					content: none;
				}
				&:hover {
					background-color: $color__light;
				}
			}

			&.ubermenu-current-menu-item {
				background-color: $color__light;
			}

			> .ubermenu-target-with-image {
				padding-top: 32.5px;
				padding-bottom: 32.5px;
				> .ubermenu-image {
					height: 50px;
					width: auto;
				}
			}
		}

		&.ubermenu-disable-padding > .ubermenu-target {
			padding: 0;
		}
	}

	.ubermenu-target {
		line-height: 1;
		font-size: 18px;
		font-weight: 500;

		&:before {
			content: $icon--chevron-right;
			display: inline;
			@include icon();
		}
	}


	.ubermenu-item-layout-image_left {
		text-align: left !important;

		@include breakpoint(menu) {
			text-align: center !important;
		}

		> .ubermenu-image {
			display: none;

			@include breakpoint(menu) {
				float: none;
				display: inline-block;
				vertical-align: middle;
			}
		}
		>.ubermenu-target-text {
			display: inline-block;
			vertical-align: middle;
			padding-left: 0.5em;
		}
	}

	.ubermenu-has-submenu-stack {
		.ubermenu-item-layout-image_left {
			text-align: center !important;
			> .ubermenu-image {
				float: none;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.ubermenu-target-text {
		display: inline;
		vertical-align: baseline;
	}

	.ubermenu-autocolumn {
		padding-top: 0;
	}

	.ubermenu-item-type-column > .ubermenu-submenu-type-stack > .ubermenu-item-normal:first-child {
		margin-top: 0;
	}

	.ubermenu-submenu-type-mega {
		display: table;

		&:after {
			content: none;
		}

		> .ubermenu-column {
			display: table-cell;
			float: none;
		}
	}

	.menu-item--home {
		width: 260px !important;
		max-width: 260px !important;
		display: none !important;

		@include breakpoint(menu) {
			display: table-cell !important;
		}
		@include breakpoint(desktop) {
			width: 300px !important;
			max-width: 300px !important;
		}

		&:hover > .ubermenu-target {
			background-color: transparent !important;
		}
	}

	.menu-item--brown {
		background: $color__brown url(images/bg-brown.png) no-repeat bottom center !important;
	}

	.menu-item--orange {
		background: $color__orange url(images/bg-orange.png) no-repeat bottom center !important;
	}

	.menu-item--green {
		background: $color__green url(images/bg-green.png) no-repeat bottom center !important;
	}

	.menu-item--header {
		> .ubermenu-target {
			font-weight: bold !important;
			&:before {
				content: none !important;
			}
		}
	}

	.ubermenu-item.ubermenu-active > .ubermenu-submenu-type-mega {
		display: table;
	}

	.ubermenu-colgroup .ubermenu-column,
	.ubermenu-custom-content-padded,
	.ubermenu-nonlink,
	.ubermenu-retractor,
	.ubermenu-submenu-padded,
	.ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target,
	.ubermenu-target,
	.ubermenu-widget,
	.ubermenu-responsive-toggle {
		padding-left: 15px;
		padding-right: 10px;
	}
}

.ubermenu-responsive-toggle.ubermenu-responsive-toggle-main {
	background-color: $color__light;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0;

	@include breakpoint(phone) {
		padding: 15px;
		font-size: inherit;
	}

	&:before {
		@include icon();
		content: $icon--menu;
		font-size: 30px;
	}

	.fa {
		display: none;
	}
}

.ubermenu .ubermenu-submenu-id-1722 > .ubermenu-column + .ubermenu-column:not(.ubermenu-clear-row) {
    border-left: 1px solid #ffffff;
    width: auto;
}