span.wpcf7-not-valid-tip {
	color: $color__red;
}

div.wpcf7-response-output {
    margin: 1em 0;
    padding: 1em 2em;
    text-align: center;
}

div.wpcf7-mail-sent-ok {
    border: 0;
    background-color: $color__green;
    color: #fff;
}

div.wpcf7-mail-sent-ng {
	border: 0;
	background-color: $color__red;
	color: #fff;
}

div.wpcf7-spam-blocked {
	border: 0;
	background-color: $color__orange;
	color: #fff;
}

div.wpcf7-validation-errors {
    border: 0;
    background-color: $color__orange;
    color: #fff;
}

div.wpcf7 img.ajax-loader {
	display: none;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	border-color: $color__red;
}

span.wpcf7-form-control-wrap {
	display: block;
}

span.wpcf7-list-item {
	margin-right: 2em;
	label {
		display: inline-block;
	}
}

span.wpcf7-list-item-label {
	display: inline-block;
	margin-left: 0.5em;
}