.taxonomy-item {
	margin: 25px 0;

	@include breakpoint(phone) {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
}

.taxonomy-item__image,
.taxonomy-item__body {
	@include breakpoint(phone) {
		display: table-cell;
		vertical-align: middle;
	}
}

.taxonomy-item__image {
	text-align: center;
	padding: 1em 0;

	@include breakpoint(phone) {
		padding: 0 1em;
		width: 38%;
	}

	img {
		display: inline-block;
		vertical-align: middle;
	}
}

.taxonomy-item__body {

}

.taxonomy-item__title {
	font-size: $font-size;
	font-weight: 600;
	text-transform: uppercase;
}

.taxonomy-item__description {

}

.taxonomy-item__link {

}

.nos-produits {
	width: 100%;

	.taxonomy-item__image {
		width: 100%;
		padding: 0;
	}
}
