$icomoon-font-path: "fonts" !default;

$icon--diagnosis: "\e924";
$icon--download: "\e921";
$icon--video: "\e922";
$icon--man: "\e900";
$icon--research: "\e901";
$icon--tractor: "\e902";
$icon--chevron-down: "\e903";
$icon--chevron-left: "\e904";
$icon--chevron-right: "\e905";
$icon--chevron-small-down: "\e906";
$icon--chevron-small-left: "\e907";
$icon--chevron-small-right: "\e908";
$icon--chevron-small-up: "\e909";
$icon--chevron-thin-down: "\e90a";
$icon--chevron-thin-left: "\e90b";
$icon--chevron-thin-right: "\e90c";
$icon--chevron-thin-up: "\e90d";
$icon--chevron-up: "\e90e";
$icon--controller-fast-forward: "\e90f";
$icon--controller-jump-to-start: "\e910";
$icon--controller-next: "\e911";
$icon--controller-paus: "\e912";
$icon--controller-play: "\e913";
$icon--controller-record: "\e914";
$icon--controller-stop: "\e915";
$icon--magnifying-glass: "\e916";
$icon--menu: "\e923";
$icon--phone: "\e917";
$icon--calendar: "\e925";
$icon--skype-with-circle: "\e918";
$icon--facebook-with-circle: "\e919";
$icon--google-with-circle: "\e91a";
$icon--instagram-with-circle: "\e91b";
$icon--linkedin-with-circle: "\e91c";
$icon--pinterest-with-circle: "\e91d";
$icon--twitter-with-circle: "\e91e";
$icon--vimeo-with-circle: "\e91f";
$icon--youtube-with-circle: "\e920";

